// This file was generated based on the light green theme
// Proceed with caution if making changes to this file.

@use 'sass:map';
@use '@angular/material' as mat;

// Using the same color palettes but creating a dark theme
$_palettes: (
  primary: (
    0: #000000,
    10: #012200,
    20: #013a00,
    25: #024600,
    30: #105208,
    35: #1f5f15,
    40: #2c6b21,
    50: #458538,
    60: #5ea04f,
    70: #78bc67,
    80: #92d87f,
    90: #adf599,
    95: #cbffb8,
    98: #edffe1,
    99: #f7ffee,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #092005,
    20: #1e3618,
    25: #294122,
    30: #344d2d,
    35: #3f5937,
    40: #4b6543,
    50: #637e5a,
    60: #7c9872,
    70: #96b38b,
    80: #b1cfa5,
    90: #cdebbf,
    95: #dbfacd,
    98: #edffe1,
    99: #f7ffee,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #001d32,
    20: #003352,
    25: #003f63,
    30: #124a71,
    35: #23567d,
    40: #31628a,
    50: #4c7ba4,
    60: #6695bf,
    70: #81b0dc,
    80: #9ccbf8,
    90: #cde5ff,
    95: #e8f2ff,
    98: #f7f9ff,
    99: #fcfcff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #191d17,
    20: #2d322b,
    25: #383d36,
    30: #444841,
    35: #50544c,
    40: #5b6058,
    50: #747870,
    60: #8e9289,
    70: #a9ada3,
    80: #c4c8be,
    90: #e0e4da,
    95: #eff2e8,
    98: #f7fbf0,
    99: #fafef3,
    100: #ffffff,
    4: #0b0f0a,
    6: #10140f,
    12: #1d211a,
    17: #272b25,
    22: #32362f,
    24: #363a33,
    87: #d8dbd1,
    92: #e6e9df,
    94: #ecefe5,
    96: #f2f5ea,
  ),
  neutral-variant: (
    0: #000000,
    10: #161e13,
    20: #2b3327,
    25: #363e32,
    30: #41493d,
    35: #4d5548,
    40: #586154,
    50: #717a6b,
    60: #8b9384,
    70: #a5ae9e,
    80: #c1c9b9,
    90: #dde5d4,
    95: #ebf4e2,
    98: #f4fceb,
    99: #f7ffee,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

// Define the dark theme
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
    typography: (
      plain-family: 'Open Sans',
      brand-family: 'Open Sans',
      bold-weight: 900,
    ),
    density: (
      scale: -1,
    ),
  )
);
