<div class="content row d-flex justify-content-center">
    <div class="col-8">
        <div class="header">
            <mat-form-field class="me-2">
                <mat-label>Search by name</mat-label>
                <input matInput [(ngModel)]="nameFilter" (keyup)="filterMembers()">
                <button *ngIf="nameFilter" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <mat-slide-toggle color="primary" [(ngModel)]="activeOnly" (change)="filterMembers()">Active
                only</mat-slide-toggle>
        </div>
        <div class="mat-elevation-z8 p-3 m-2">
            <div class="scrollable-table">
                <table mat-table matSort [dataSource]="filteredMembers$ | async" (matSortChange)="sortMembers($event)">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>Id</th>
                        <td mat-cell *matCellDef="let member">{{member.id}}</td>
                    </ng-container>
                    <ng-container matColumnDef="displayName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                        <td mat-cell *matCellDef="let member">{{member.displayName}}</td>
                    </ng-container>
                    <ng-container matColumnDef="activeText">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let member">{{member.activeText}}</td>
                    </ng-container>
                    <ng-container matColumnDef="groupAdminText">
                        <th mat-header-cell *matHeaderCellDef>Group Admin</th>
                        <td mat-cell *matCellDef="let member">{{member.groupAdminText}}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay" (click)="onRowClick(myRowData)"
                        class="clickable-row">
                    </tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" [colSpan]="columnsToDisplay.length">No members found matching
                            "{{nameFilter}}".
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>