<h1 mat-dialog-title>Add New Group</h1>
<form [formGroup]="newGroupForm">
  <mat-dialog-content class="content">
    <mat-form-field appearance="fill">
      <mat-label>Group name</mat-label>
      <input matInput formControlName="groupName" />
      <mat-error *ngIf="f.groupName.errors?.['required']">
        *Required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Your name in the group</mat-label>
      <input matInput formControlName="displayName" />
      <mat-error *ngIf="f.displayName.errors?.['required']">
        *Required
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="button" class="btn btn-secondary" (click)="close()">
      Cancel
    </button>
    <button
      type="submit"
      defaultButton
      class="btn btn-primary"
      [disabled]="!newGroupForm.valid"
      (click)="onSubmit()"
    >
      Save
    </button>
  </mat-dialog-actions>
</form>
