#paid-by-select,
#category-select {
  width: 250px;
}

#description {
  width: 300px;
}

#split-member {
  width: 95%;
}

#expense-buttons button {
  min-height: 48px;
}

.wide-number-field {
  width: 260px;
}
