<h1 mat-dialog-title>Edit Member</h1>
<form [formGroup]="editMemberForm">
  <mat-dialog-content>
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-start">
        <mat-form-field appearance="fill">
          <mat-label>Member name</mat-label>
          <input matInput formControlName="memberName" />
          <mat-error *ngIf="f.memberName.errors?.['required']">
            *Required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-start">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput email formControlName="email" />
          <mat-error *ngIf="f.email.errors?.['required']">
            *Required
          </mat-error>
          <mat-error *ngIf="f.email.errors?.['email']">
            *Not a valid email address
          </mat-error>
        </mat-form-field>
      </div>
      <div
        class="d-flex justify-content-start ps-2"
        [class.hidden]="!currentMember().groupAdmin"
      >
        <mat-slide-toggle class="me-2" formControlName="active"
          >Active</mat-slide-toggle
        >
        <mat-slide-toggle
          formControlName="groupAdmin"
          [matTooltip]="groupAdminTooltip"
        >
          Group Admin
        </mat-slide-toggle>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="button" class="btn btn-secondary" (click)="close()">
      Cancel
    </button>
    <button type="button" class="btn btn-warning" (click)="removeMember()">
      Remove
    </button>
    <button
      type="submit"
      defaultButton
      class="btn btn-primary"
      [disabled]="!editMemberForm.valid"
      (click)="onSubmit()"
    >
      Save
    </button>
  </mat-dialog-actions>
</form>
