.filters {
  display: grid;
  gap: 8px;
  align-items: baseline;
  justify-items: center;
  grid-template-rows: auto;
  grid-template-columns: max-content max-content;
}

@media (max-width: 473px) {
  .filters {
    grid-template-columns: 1fr;
  }
}
