@if (!historyStore.loaded()) {
  <div class="container pt-3" data-testid="history-loading-container">
    <h3 data-testid="loading-history-message">Loading history...</h3>
  </div>
} @else {
  <div class="container with-table pt-3" data-testid="history-main-container">
    <div class="page-header" data-testid="history-page-header">
      <div></div>
      <h3 data-testid="history-page-title">History</h3>
      <div class="help-icon" data-testid="history-help-icon-container">
        @if (demoService.isInDemoMode()) {
          <mat-icon
            data-testid="history-tour-button"
            matTooltip="Show Tour"
            (click)="startTour()"
            aria-label="Start history tour"
            class="mr-2"
            >tour</mat-icon
          >
        }
        <mat-icon
          matTooltip="Help"
          (click)="showHelp()"
          data-testid="history-help-button"
          aria-label="Show help for history"
          >help</mat-icon
        >
      </div>
    </div>
    <h4 data-testid="current-group-name">{{ currentGroup()?.name }}</h4>
    <div>
      <mat-form-field
        id="member-select"
        subscriptSizing="dynamic"
        class="mb-3"
        data-testid="history-member-field"
      >
        <mat-label>Select Member</mat-label>
        <mat-select
          name="member"
          [(ngModel)]="selectedMember"
          (selectionChange)="resetHistoryTable()"
          docRefCompare
        >
          @for (member of members(); track member.ref) {
            <mat-option [value]="member.ref">{{
              member.displayName
            }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="filters" data-tour="history-filters">
      <mat-form-field
        appearance="fill"
        class="datepicker"
        subscriptSizing="dynamic"
      >
        <mat-label>Start date</mat-label>
        <input
          matInput
          [matDatepicker]="startDatepicker"
          [(ngModel)]="startDate"
          (dateChange)="resetHistoryTable()"
        />
        @if (!startDate()) {
          <mat-datepicker-toggle
            matIconSuffix
            [for]="startDatepicker"
          ></mat-datepicker-toggle>
        } @else {
          <button
            matIconSuffix
            tabindex="-1"
            mat-icon-button
            aria-label="Clear"
            (click)="startDate.set(null); resetHistoryTable()"
            [matTooltip]="'Clear'"
          >
            <mat-icon>close</mat-icon>
          </button>
        }
        <mat-datepicker #startDatepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field
        appearance="fill"
        class="datepicker"
        subscriptSizing="dynamic"
      >
        <mat-label>End date</mat-label>
        <input
          matInput
          [matDatepicker]="endDatePicker"
          [(ngModel)]="endDate"
          (dateChange)="resetHistoryTable()"
        />
        @if (!endDate()) {
          <mat-datepicker-toggle
            matIconSuffix
            [for]="endDatePicker"
          ></mat-datepicker-toggle>
        } @else {
          <button
            matIconSuffix
            tabindex="-1"
            mat-icon-button
            aria-label="Clear"
            (click)="endDate.set(null); resetHistoryTable()"
            [matTooltip]="'Clear'"
          >
            <mat-icon>close</mat-icon>
          </button>
        }
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
    @if (filteredHistory().length > 0) {
      <div class="table-container mat-elevation-z8">
        <div class="scrollable-table">
          <table
            mat-table
            matSort
            [dataSource]="filteredHistory()"
            (matSortChange)="sortHistory($event)"
            multiTemplateDataRows
            class="expandable-table"
            data-tour="history-table"
          >
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>Id</th>
              <td mat-cell *matCellDef="let history">{{ history.id }}</td>
            </ng-container>
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
              <td mat-cell *matCellDef="let history" class="no-wrap">
                {{ history.date | date: 'M/d/yyyy' }}
              </td>
            </ng-container>
            <ng-container matColumnDef="paidTo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Paid To</th>
              <td mat-cell *matCellDef="let history">
                {{ history.paidToMember.displayName }}
              </td>
            </ng-container>
            <ng-container matColumnDef="paidBy">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Paid By</th>
              <td mat-cell *matCellDef="let history">
                {{ history.paidByMember.displayName }}
              </td>
            </ng-container>
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef class="cell-right">
                Amount
              </th>
              <td
                mat-cell
                *matCellDef="let history"
                class="cell-right amount-cell"
              >
                {{ history.totalPaid | currency }}
              </td>
            </ng-container>
            <ng-container matColumnDef="delete">
              <th
                mat-header-cell
                *matHeaderCellDef
                aria-label="row actions"
                class="cell-center"
              >
                Delete
              </th>
              <td mat-cell *matCellDef="let history" class="cell-center">
                <button
                  mat-mini-fab
                  class="btn btn-danger"
                  aria-label="delete history"
                  data-testid="delete-button"
                  (click)="onDeleteClick(history); $event.stopPropagation()"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
              <td
                mat-cell
                *matCellDef="let history"
                [colSpan]="columnsToDisplay().length"
              >
                <div
                  class="detail-table-container"
                  animate.enter="detail-expand"
                  animate.leave="detail-collapse"
                >
                  @if (history == expandedHistory()) {
                    @if (history.lineItems.length > 0) {
                      <table
                        mat-table
                        [dataSource]="history.lineItems"
                        class="static-table info-detail-table"
                        (click)="
                          copyHistoryToClipboard(history);
                          $event.stopPropagation()
                        "
                        matTooltip="Click to copy payment summary"
                        [matTooltipDisabled]="false"
                        #tableTooltip="matTooltip"
                      >
                        @let detailColumnsToDisplay = ['category', 'amount'];
                        <ng-container matColumnDef="category">
                          <th mat-header-cell *matHeaderCellDef colspan="2">
                            Category
                          </th>
                          <td mat-cell *matCellDef="let lineItem" colspan="2">
                            {{ lineItem.category }}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="amount">
                          <th
                            mat-header-cell
                            *matHeaderCellDef
                            class="cell-right"
                          >
                            Amount
                          </th>
                          <td
                            mat-cell
                            *matCellDef="let lineItem"
                            class="cell-right"
                            (mouseenter)="tableTooltip.disabled = true"
                            (mouseleave)="
                              tableTooltip.disabled = false; tableTooltip.show()
                            "
                          >
                            {{ lineItem.amount | currency }}
                          </td>
                        </ng-container>
                        <tr
                          mat-header-row
                          *matHeaderRowDef="detailColumnsToDisplay"
                        ></tr>
                        <tr
                          mat-row
                          *matRowDef="
                            let lineItem;
                            columns: detailColumnsToDisplay
                          "
                        ></tr>
                      </table>
                    } @else {
                      <span>Paid via Group Settle - category details not available</span>
                    }
                  }
                </div>
              </td>
            </ng-container>
            <tr
              mat-header-row
              *matHeaderRowDef="columnsToDisplay(); sticky: true"
            ></tr>
            <tr
              mat-row
              *matRowDef="let history; columns: columnsToDisplay()"
              class="summary-row clickable-row expandable-row"
              [class.expanded-row]="expandedHistory() === history"
              (click)="onExpandClick(history)"
            ></tr>
            <tr
              mat-row
              *matRowDef="let lineItem; columns: ['expandedDetail']"
              class="detail-row"
            ></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" [colSpan]="columnsToDisplay().length">
                No history found for search criteria.
              </td>
            </tr>
          </table>
        </div>
      </div>
    } @else {
      <div class="container pt-3">
        <h5>No history found</h5>
      </div>
    }
  </div>
}
