:host {
  display: flex;
  justify-content: center;
}

#profileContainer {
  width: 400px;
  form {
    display: flex;
    flex-direction: column;
    padding: 4px;
  }
  h4 {
    width: 100%;
    text-align: center;
  }
}
