@if (!groupStore.loaded()) {
  <div class="container pt-3" data-testid="groups-loading-container">
    <h3 data-testid="loading-message">Loading groups...</h3>
  </div>
} @else {
  <div class="container pt-3" data-testid="groups-main-container">
    <div class="page-header" data-testid="groups-page-header">
      <div></div>
      <h3 data-testid="groups-page-title">Groups</h3>
      <div class="help-icon" data-testid="groups-help-icon-container">
        <mat-icon
          data-testid="groups-help-button"
          matTooltip="Help"
          (click)="showHelp()"
          aria-label="Show help for groups"
          >help</mat-icon
        >
      </div>
    </div>
    <div class="mb-4">
      <form
        [formGroup]="groupForm"
        aria-label="Select group form"
        data-testid="select-group-form"
      >
        <mat-form-field
          id="group-select"
          data-testid="group-select-field"
          subscriptSizing="dynamic"
        >
          <mat-label>Select Group</mat-label>
          <mat-select
            data-testid="group-select"
            formControlName="selectedGroupRef"
            name="group"
            (selectionChange)="onSelectGroup($event)"
            docRefCompare
          >
            @for (group of activeUserGroups(); track group.ref) {
              <mat-option
                [value]="group.ref"
                [attr.data-testid]="'group-option-' + group.ref"
                >{{ group.name }}</mat-option
              >
            }
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    @if (selectedGroupRef != null) {
      <div class="mb-4">
        <span id="join-code" data-testid="join-code">
          Group join code: {{ selectedGroupRef.id }}
          <mat-icon
            matTooltip="Copy group join code to clipboard"
            (click)="copyGroupCode()"
            >content_copy</mat-icon
          >
        </span>
      </div>
    }
    <div class="flex-wrap fw-center row-gap">
      <button
        data-testid="new-group-button"
        mat-raised-button
        class="btn-primary"
        type="button"
        (click)="addGroup()"
      >
        New Group
      </button>
      <button
        data-testid="join-group-button"
        mat-raised-button
        class="btn-primary"
        type="button"
        (click)="joinGroup()"
      >
        Join Group
      </button>
      @if (allUserGroups().length > 0) {
        <button
          data-testid="manage-groups-button"
          mat-raised-button
          class="btn-primary"
          type="button"
          (click)="manageGroups()"
        >
          Manage Groups
        </button>
      }
    </div>
  </div>
}
