<div class="container pt-3">
  <div class="page-header">
    <div></div>
    <mat-form-field id="group-select">
      <mat-label>Select Group</mat-label>
      <mat-select
        [(ngModel)]="selectedGroupId"
        name="group"
        (selectionChange)="onSelectGroup($event)"
      >
        @for (group of activeUserGroups(); track group.id) {
          <mat-option [value]="group.id">{{ group.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div class="help-icon">
      <mat-icon
        fontSet="material-symbols-outlined"
        matTooltip="Help"
        (click)="showHelp()"
        >help</mat-icon
      >
    </div>
  </div>
  @if (selectedGroupId() != '') {
    <div class="mb-4">
      <span
        id="join-code"
        matTooltip="Click to copy group join code"
        (click)="copyGroupCode()"
      >
        Group join code: {{ selectedGroupId() }}
      </span>
    </div>
  }
  <div class="buttons">
    <button mat-flat-button type="button" (click)="addGroup()">
      New Group
    </button>
    <button mat-flat-button type="button" (click)="joinGroup()">
      Join Group
    </button>
    <button mat-flat-button type="button" (click)="manageGroups()">
      Manage Groups
    </button>
  </div>
</div>
