@if (!groupStore.loaded()) {
  <div class="container pt-3">
    <h3 data-testid="loading-message">Loading groups...</h3>
  </div>
} @else {
  <div class="container pt-3">
    <div class="page-header">
      <div></div>
      <h3>Groups</h3>
      <div class="help-icon">
        <mat-icon
          data-testid="help-button"
          matTooltip="Help"
          (click)="showHelp()"
          >help</mat-icon
        >
      </div>
    </div>
    <div class="mb-4">
      <mat-form-field
        id="group-select"
        data-testid="group-select-field"
        subscriptSizing="dynamic"
      >
        <mat-label>Select Group</mat-label>
        <mat-select
          data-testid="group-select"
          [(ngModel)]="selectedGroupId"
          name="group"
          (selectionChange)="onSelectGroup($event)"
        >
          @for (group of activeUserGroups(); track group.id) {
            <mat-option
              [value]="group.id"
              [attr.data-testid]="'group-option-' + group.id"
              >{{ group.name }}</mat-option
            >
          }
        </mat-select>
      </mat-form-field>
    </div>
    @if (selectedGroupId() != '') {
      <div class="mb-4">
        <span id="join-code" data-testid="join-code">
          Group join code: {{ selectedGroupId() }}
          <mat-icon
            matTooltip="Copy group join code to clipboard"
            (click)="copyGroupCode()"
            >content_copy</mat-icon
          >
        </span>
      </div>
    }
    <div class="flex-wrap fw-center row-gap">
      <button
        data-testid="new-group-button"
        mat-raised-button
        class="btn-primary"
        type="button"
        (click)="addGroup()"
      >
        New Group
      </button>
      <button
        data-testid="join-group-button"
        mat-raised-button
        class="btn-primary"
        type="button"
        (click)="joinGroup()"
      >
        Join Group
      </button>
      <button
        data-testid="manage-groups-button"
        mat-raised-button
        class="btn-primary"
        type="button"
        (click)="manageGroups()"
      >
        Manage Groups
      </button>
    </div>
  </div>
}
