<div class="container">
  <h2>Forgot Password</h2>
  <p>
    Enter your email address and we'll send you a link to reset your password.
  </p>
  <form
    [formGroup]="forgotPasswordForm"
    class="reset-form"
    (submit)="forgotPassword()"
  >
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        #emailInput
        (keydown.enter)="
          $event.preventDefault(); forgotPasswordForm.valid && forgotPassword()
        "
      />
    </mat-form-field>
    <div class="buttons">
      <button
        mat-raised-button
        class="btn-primary mb-3"
        type="submit"
        [disabled]="forgotPasswordForm.invalid || forgotPasswordForm.pristine"
      >
        <span class="reset-button">Submit</span>
      </button>
      <a class="primary-link" routerLink="../login">Return to Login</a>
    </div>
  </form>
</div>
