.filters {
  display: grid;
  gap: 1em;
  align-items: baseline;
  justify-items: center;
  grid-template-columns: max-content max-content;
}

#search-field {
  min-width: 230px;
}

@media (max-width: 473px) {
  .filters {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 474px) {
  .filters {
    grid-template-columns: max-content max-content;
  }
}
