@if (!memorizedStore.loaded()) {
  <div class="container pt-3 mb-2">
    <h3>Loading memorized expenses...</h3>
  </div>
} @else {
  <div class="container pt-3">
    <div class="page-header">
      <div></div>
      <h3>Memorized Expenses</h3>
      <div class="help-icon">
        <mat-icon matTooltip="Help" (click)="showHelp()">help</mat-icon>
      </div>
    </div>
    <h4>{{ currentGroup()?.name }}</h4>
    <div class="filters">
      <mat-form-field
        class="clearable"
        id="search-field"
        subscriptSizing="dynamic"
      >
        <mat-label>{{
          searchFocused()
            ? 'Search by payer, description, or category'
            : 'Search'
        }}</mat-label>
        <input
          matInput
          [(ngModel)]="searchText"
          (focus)="onSearchFocus()"
          (blur)="onSearchBlur()"
        />
        @if (searchText() !== '') {
          <button
            matIconSuffix
            tabindex="-1"
            mat-icon-button
            aria-label="Clear"
            (click)="searchText.set('')"
            [matTooltip]="'Clear'"
          >
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
      <button mat-raised-button class="btn-primary" routerLink="/memorized/add">
        Memorize New Expense
      </button>
    </div>
  </div>
  <div class="table-container">
    <div class="scrollable-table mat-elevation-z8">
      <table
        mat-table
        [dataSource]="filteredMemorizeds()"
        multiTemplateDataRows
        class="expandable-table"
      >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let expense">{{ expense.id }}</td>
        </ng-container>
        <ng-container matColumnDef="paidBy">
          <th mat-header-cell *matHeaderCellDef>Payer</th>
          <td mat-cell *matCellDef="let expense">
            {{ getMemberName(expense.paidByMemberRef.id) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="description-category">
          <th mat-header-cell *matHeaderCellDef>Description<br />Category</th>
          <td mat-cell *matCellDef="let expense">
            {{ expense.description }}
            <br />
            {{ getCategoryName(expense.categoryRef.id) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let expense">
            {{ expense.description }}
          </td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let expense">
            {{ getCategoryName(expense.categoryRef.id) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef class="cell-right">Amount</th>
          <td mat-cell *matCellDef="let expense" class="cell-right">
            {{ expense.totalAmount | currency }}
          </td>
        </ng-container>
        <ng-container matColumnDef="create">
          <th mat-header-cell *matHeaderCellDef class="cell-center">
            Create<br />Expense
          </th>
          <td mat-cell *matCellDef="let expense" class="cell-center">
            <button
              mat-icon-button
              (click)="addExpense(expense); $event.stopPropagation()"
            >
              <mat-icon>add</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">
            Splits
          </th>
          <td mat-cell *matCellDef="let expense" class="cell-center">
            <button
              mat-icon-button
              aria-label="expand row"
              (click)="onExpandClick(expense); $event.stopPropagation()"
            >
              @if (expandedExpense() === expense) {
                <mat-icon>keyboard_arrow_up</mat-icon>
              } @else {
                <mat-icon>keyboard_arrow_down</mat-icon>
              }
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let expense"
            [colSpan]="columnsToDisplay().length"
          >
            <div
              [@detailExpand]="
                expense == expandedExpense() ? 'expanded' : 'collapsed'
              "
              class="detail-table-container"
            >
              <table
                mat-table
                [dataSource]="expense.splits"
                class="static-table info-detail-table"
              >
                @let splitColumnsToDisplay = ['owedBy', 'amount'];
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef>Id</th>
                  <td mat-cell *matCellDef="let split">{{ split.id }}</td>
                </ng-container>
                <ng-container matColumnDef="owedBy">
                  <th mat-header-cell *matHeaderCellDef>Owed By</th>
                  <td mat-cell *matCellDef="let split">
                    {{ getMemberName(split.owedByMemberRef.id) }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef class="cell-right">
                    Amount
                  </th>
                  <td mat-cell *matCellDef="let split" class="cell-right">
                    {{ split.allocatedAmount | currency }}
                  </td>
                </ng-container>
                <tr
                  mat-header-row
                  *matHeaderRowDef="splitColumnsToDisplay"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let split; columns: splitColumnsToDisplay"
                ></tr>
              </table>
            </div>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="columnsToDisplay(); sticky: true"
        ></tr>
        <tr
          mat-row
          *matRowDef="let expense; columns: columnsToDisplay()"
          class="summary-row clickable-row expandable-row"
          [class.expanded-row]="expandedExpense === expense"
          (click)="onRowClick(expense)"
        ></tr>
        <tr
          mat-row
          *matRowDef="let split; columns: ['expandedDetail']"
          class="detail-row"
        ></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [colSpan]="columnsToDisplay().length">
            No expenses found for search criteria.
          </td>
        </tr>
      </table>
    </div>
  </div>
}
