<div class="container">
  <h4>Update Email Address</h4>
  <form [formGroup]="emailForm" class="container">
    <mat-form-field>
      <mat-label>Email Address</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-error *ngIf="e.email.errors?.['email']">
        Invalid email address
      </mat-error>
    </mat-form-field>
    <div class="buttons">
      <button
        type="button"
        class="btn btn-secondary"
        [disabled]="firebaseUser()?.emailVerified"
        (click)="verifyEmail()"
      >
        {{ firebaseUser()?.emailVerified ? 'Email Verified' : 'Verify Email' }}
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="
          emailForm.invalid ||
          e.email?.value === firebaseUser()?.email ||
          e.email.value === ''
        "
        (click)="onSubmitEmail()"
      >
        Update Email
      </button>
    </div>
  </form>
  <h4>Change Your Password</h4>
  <form [formGroup]="passwordForm" class="container">
    <mat-form-field>
      <mat-label>New Password</mat-label>
      <input
        matInput
        [type]="hidePassword() ? 'password' : 'text'"
        autocomplete="new-password"
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="toggleHidePassword()"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon>{{
          hidePassword ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        [type]="hideConfirm() ? 'password' : 'text'"
        autocomplete="new-password"
        formControlName="confirmPassword"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="toggleHideConfirm()"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideConfirm"
      >
        <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="passwordForm.errors?.['mismatch']">
        Passwords do not match.
      </mat-error>
    </mat-form-field>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="
        passwordForm.invalid ||
        passwordForm.controls.confirmPassword.value === ''
      "
      (click)="onSubmitPassword()"
    >
      Change Password
    </button>
  </form>
  <h4>Select Default Group</h4>
  <div class="container">
    <mat-form-field id="group-select">
      <mat-label>Select Group</mat-label>
      <mat-select [(ngModel)]="selectedGroupId" name="group" #groupSelect>
        @for (group of activeUserGroups(); track group.id) {
          <mat-option [value]="group.id">{{ group.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="selectedGroupId === null"
      (click)="saveDefaultGroup()"
    >
      Save
    </button>
  </div>
  @if (!prod()) {
    <button type="button" class="btn btn-primary" (click)="fixSplits()">
      Fix Splits
    </button>
    <button type="button" class="btn btn-primary" (click)="fixExpenses()">
      Fix Expenses
    </button>
  }
</div>
