tr.split-row {
  height: 0;
}

tr.split-row:hover {
  background-color: transparent !important;
}

.expense-row td {
  border-bottom-width: 0;
}

.split-detail {
  overflow: hidden;
  display: flex;
}
