<div class="d-flex flex-column p-2">
  <div class="d-flex pt-2 justify-content-center align-items-center">
    <h3>{{ currentGroup()?.name }}</h3>
  </div>
  <div class="d-flex p-2 justify-content-center align-items-center flex-wrap">
    <mat-form-field class="me-2">
      <mat-label>Filter by payee</mat-label>
      <mat-select
        name="member"
        [(ngModel)]="selectedMemberIdValue"
        (selectionChange)="selectedMemberChange()"
      >
        @for (member of members(); track member) {
          <mat-option [value]="member.id">{{ member.displayName }}</mat-option>
        }
      </mat-select>
      @if (selectedMemberId() !== '') {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearSelectedMember()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
    <mat-form-field class="me-2">
      <mat-label>Filter by category</mat-label>
      <mat-select
        name="category"
        [(ngModel)]="selectedCategoryIdValue"
        (selectionChange)="selectCategoryChange()"
      >
        @for (category of categories(); track category) {
          <mat-option [value]="category.id">{{ category.name }}</mat-option>
        }
      </mat-select>
      @if (selectedCategoryId() !== '') {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearSelectedCategory()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
    <mat-slide-toggle
      #unpaidToggle
      color="primary"
      [checked]="true"
      (change)="unpaidOnlyToggle(unpaidToggle.checked)"
      >Unpaid only</mat-slide-toggle
    >
  </div>
  <div class="d-flex p-2 justify-content-center align-items-center flex-wrap">
    <mat-form-field appearance="fill" class="datepicker me-2">
      <mat-label>Start date</mat-label>
      <input
        matInput
        [matDatepicker]="startDatepicker"
        [(ngModel)]="startDateValue"
        (dateChange)="startDateChange()"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="startDatepicker"
      ></mat-datepicker-toggle>
      @if (!!startDate()) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearStartDate()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
      <mat-datepicker #startDatepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" class="datepicker me-2">
      <mat-label>End date</mat-label>
      <input
        matInput
        [matDatepicker]="endDatePicker"
        [(ngModel)]="endDateValue"
        (dateChange)="endDateChange()"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="endDatePicker"
      ></mat-datepicker-toggle>
      @if (!!endDate()) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearEndDate()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
    <button class="btn btn-primary ms-4" (click)="addExpense()">
      Add New Expense
    </button>
  </div>
  <div class="d-flex justify-content-center">
    <div class="scrollable-table mat-elevation-z8">
      <table
        #expensesTable
        mat-table
        matSort
        [dataSource]="filteredExpenses()"
        (matSortChange)="sortExpenses($event)"
        multiTemplateDataRows
      >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let expense">{{ expense.id }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let expense">
            {{ expense.date.toDate() | date: 'yyyy-MM-dd' }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="paidBy">
          <th mat-header-cell *matHeaderCellDef>Paid By</th>
          <td mat-cell *matCellDef="let expense">
            {{ getMemberName(expense.paidByMemberId) }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let expense">{{ expense.description }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let expense">
            {{ getCategoryName(expense.categoryId) }}
          </td>
          <td mat-footer-cell *matFooterCellDef>Total:</td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef class="cell-right">Amount</th>
          <td mat-cell *matCellDef="let expense" class="cell-right">
            {{ expense.totalAmount | currency }}
          </td>
          <td mat-footer-cell *matFooterCellDef class="cell-right">
            {{ expenseTotal | currency }}
          </td>
        </ng-container>
        <ng-container matColumnDef="receipt">
          <th mat-header-cell *matHeaderCellDef class="cell-center">Receipt</th>
          <td mat-cell *matCellDef="let expense" class="cell-center">
            {{ receipts.includes(expense.id) | yesNo }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="paid">
          <th mat-header-cell *matHeaderCellDef class="cell-center">Paid</th>
          <td mat-cell *matCellDef="let expense" class="cell-center">
            {{ expense.paid | yesNo }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">
            Expand
          </th>
          <td mat-cell *matCellDef="let expense">
            <button
              mat-icon-button
              aria-label="expand row"
              (click)="
                expandedExpense = expandedExpense === expense ? null : expense;
                $event.stopPropagation()
              "
            >
              @if (expandedExpense === expense) {
                <mat-icon>keyboard_arrow_up</mat-icon>
              } @else {
                <mat-icon>keyboard_arrow_down</mat-icon>
              }
            </button>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let expense"
            [colSpan]="columnsToDisplay.length"
          >
            <div
              [@detailExpand]="
                expense == expandedExpense ? 'expanded' : 'collapsed'
              "
            >
              <table
                mat-table
                [dataSource]="expense.splits"
                class="split-table"
              >
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef>Id</th>
                  <td mat-cell *matCellDef="let split">{{ split.id }}</td>
                </ng-container>
                <ng-container matColumnDef="empty1">
                  <th mat-header-cell *matHeaderCellDef colspan="2"></th>
                  <td mat-cell *matCellDef="let split" colspan="2"></td>
                </ng-container>
                <ng-container matColumnDef="owedBy">
                  <th mat-header-cell *matHeaderCellDef>Owed By</th>
                  <td mat-cell *matCellDef="let split">
                    {{ getMemberName(split.owedByMemberId) }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef class="cell-right">
                    Amount
                  </th>
                  <td mat-cell *matCellDef="let split" class="cell-right">
                    {{ split.allocatedAmount | currency }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="paid">
                  <th mat-header-cell *matHeaderCellDef class="cell-center">
                    Paid
                  </th>
                  <td mat-cell *matCellDef="let split" class="cell-center">
                    {{
                      split.paid
                        | yesNoNa: split.paidByMemberId : split.owedByMemberId
                    }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="mark">
                  <th mat-header-cell *matHeaderCellDef class="cell-center">
                    Mark Paid/Unpaid
                  </th>
                  <td mat-cell *matCellDef="let split" class="cell-center">
                    @if (expense.paidByMemberId != split.owedByMemberId) {
                      <button
                        mat-mini-fab
                        class="btn"
                        [class]="split.paid ? 'btn-danger' : 'btn-success'"
                        (click)="
                          markSplitPaidUnpaid(split); $event.stopPropagation()
                        "
                        [title]="
                          split.paid ? 'Mark split unpaid' : 'Mark split paid'
                        "
                      >
                        <mat-icon>paid</mat-icon>
                      </button>
                    }
                  </td>
                </ng-container>
                <ng-container matColumnDef="empty2">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let split"></td>
                </ng-container>
                <tr
                  mat-header-row
                  *matHeaderRowDef="splitColumnsToDisplay"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let split; columns: splitColumnsToDisplay"
                ></tr>
              </table>
            </div>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="columnsToDisplay; sticky: true"
        ></tr>
        <tr
          mat-row
          *matRowDef="let expense; columns: columnsToDisplay"
          class="expense-row clickable-row"
          [class.expanded-row]="expandedExpense === expense"
          (click)="onRowClick(expense)"
        ></tr>
        <tr
          mat-footer-row
          *matFooterRowDef="columnsToDisplay; sticky: true"
        ></tr>
        <tr
          mat-row
          *matRowDef="let split; columns: ['expandedDetail']"
          class="split-row"
        ></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [colSpan]="columnsToDisplay.length">
            No expenses found for search criteria.
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
