<div class="container">
  <h2>Reset Password</h2>
  <form
    [formGroup]="resetPasswordForm"
    class="reset-form"
    (submit)="resetPassword()"
  >
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hidePassword() ? 'password' : 'text'"
        formControlName="password"
      />
      <button
        mat-icon-button
        type="button"
        matIconSuffix
        (click)="toggleHidePassword()"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
        tabindex="-1"
      >
        <mat-icon fontSet="material-symbols-outlined">{{
          hidePassword() ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        [type]="hideConfirmPassword() ? 'password' : 'text'"
        formControlName="confirmPassword"
      />
      <button
        mat-icon-button
        type="button"
        matIconSuffix
        (click)="toggleHideConfirmPassword()"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideConfirmPassword"
        tabindex="-1"
      >
        <mat-icon fontSet="material-symbols-outlined">{{
          hideConfirmPassword() ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </button>
    </mat-form-field>
    @if (
      resetPasswordForm.errors?.passwordMismatch && r.confirmPassword.touched
    ) {
      <div class="form-error">Passwords do not match.</div>
    }
    <div class="buttons">
      <button
        mat-raised-button
        class="btn-primary mb-3"
        type="submit"
        [disabled]="resetPasswordForm.invalid || resetPasswordForm.pristine"
      >
        <span class="reset-button">Submit</span>
      </button>
      <a class="primary-link" routerLink="../">Return to Login</a>
    </div>
  </form>
</div>
