<div class="container pt-3" data-testid="edit-expense-container">
  <div class="page-header" data-testid="edit-expense-page-header">
    <div></div>
    <h3 data-testid="edit-expense-page-title">Edit Expense</h3>
    <div class="help-icon" data-testid="edit-expense-help-icon-container">
      <mat-icon
        matTooltip="Help"
        (click)="showHelp()"
        data-testid="edit-expense-help-button"
        aria-label="Show help for editing expenses"
        >help</mat-icon
      >
    </div>
  </div>
  @let memberList = expenseMembers();
  @let hasReceipt = !!receiptUrl();
  <div class="sub-container mb-2">
    <form
      [formGroup]="editExpenseForm"
      id="expense-form"
      data-testid="edit-expense-form"
      aria-label="Edit expense form"
    >
      <div class="flex-wrap fw-start">
        <mat-form-field id="paid-by-select">
          <mat-label>Payer</mat-label>
          <mat-select
            formControlName="paidByMember"
            name="paidByMember"
            docRefCompare
          >
            @for (member of memberList; track member.ref) {
              <mat-option [value]="member.ref">{{
                member.displayName
              }}</mat-option>
            }
          </mat-select>
          @if (e.paidByMember.errors?.['required']) {
            <mat-error> *Required </mat-error>
          }
        </mat-form-field>
        <mat-form-field
          appearance="fill"
          class="datepicker-with-hint"
          subscriptSizing="dynamic"
        >
          <mat-label>Date</mat-label>
          <input
            matInput
            formControlName="date"
            [matDatepicker]="expenseDatePicker"
            appDateShortcutKeys
            #datePicker
          />
          <mat-hint>+/- to change date</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="expenseDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #expenseDatePicker></mat-datepicker>
          @if (e.date.errors?.['required']) {
            <mat-error> *Required </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="flex-wrap fw-start">
        <mat-form-field appearance="fill" id="description">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" />
          @if (e.description.errors?.['required']) {
            <mat-error> *Required </mat-error>
          }
        </mat-form-field>
        <mat-form-field
          id="category-select"
          [class.hidden]="categories().length === 1"
        >
          <mat-label>Category</mat-label>
          <mat-select formControlName="category" name="category" docRefCompare>
            @for (category of categories(); track category.ref) {
              <mat-option [value]="category.ref">{{
                category.name
              }}</mat-option>
            }
          </mat-select>
          @if (e.category.errors?.['required']) {
            <mat-error> *Required </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="flex-wrap fw-start">
        <mat-form-field
          appearance="fill"
          floatLabel="always"
          class="total-amount-field"
        >
          <mat-label>Total Amount</mat-label>
          <input
            matInput
            #inputElement
            #totalAmount
            formControlName="amount"
            class="number-right"
            appFormatCurrencyInput
            (blur)="updateTotalAmount()"
            inputmode="decimal"
          />
          <span matTextPrefix>$</span>
          <button
            matIconSuffix
            mat-icon-button
            (click)="openCalculator($event, 'amount')"
            aria-label="Open calculator"
            type="button"
          >
            <mat-icon>calculate</mat-icon>
          </button>
          @if (e.amount.errors?.['required']) {
            <mat-error> *Required </mat-error>
          }
          @if (e.amount.errors?.['zeroAmount']) {
            <mat-error> Cannot be zero </mat-error>
          }
        </mat-form-field>
        <mat-form-field
          appearance="fill"
          floatLabel="always"
          class="proportional-amount-field"
          [class.hidden]="splitByPercentage()"
        >
          <mat-label>Proportional Amount</mat-label>
          <input
            matInput
            #inputElement
            #propAmount
            formControlName="allocatedAmount"
            class="number-right"
            appFormatCurrencyInput
            (blur)="allocateSharedAmounts()"
            inputmode="decimal"
          />
          <span matTextPrefix>$</span>
          <button
            matIconSuffix
            mat-icon-button
            (click)="openCalculator($event, 'allocatedAmount')"
            aria-label="Open calculator"
            type="button"
          >
            <mat-icon>calculate</mat-icon>
          </button>
          <mat-hint>Tax, tip, etc.</mat-hint>
        </mat-form-field>
        <div class="mock-input" [class.hidden]="splitByPercentage()">
          <span class="mock-label">Evenly Shared Remainder</span>
          <span class="mock-value-right">
            {{ e.sharedAmount.value | currency }}
          </span>
        </div>
      </div>
      <div class="mb-3">
        @if (!!fileName()) {
          <div (click)="removeFile()" class="attachment">
            <button mat-mini-fab class="btn btn-danger">
              <mat-icon>delete</mat-icon>
            </button>
            <span class="filename">{{ fileName() }}</span>
          </div>
        } @else {
          <div (click)="attachFile.click()" class="attachment">
            <input
              type="file"
              accept=".pdf,image/*"
              class="file-input"
              #attachFile
              (change)="onFileSelected($event)"
            />
            <button mat-mini-fab class="btn btn-success">
              <mat-icon>attach_file</mat-icon>
            </button>
            @if (hasReceipt) {
              <span class="filename">Replace receipt</span>
            } @else {
              <span class="filename">Upload receipt</span>
            }
          </div>
        }
      </div>
      <div class="flex-wrap fw-start row-gap">
        <button
          mat-raised-button
          class="btn-primary"
          type="button"
          (click)="addSplit()"
        >
          Add New Split
        </button>
        <a
          type="button"
          mat-raised-button
          class="btn-primary"
          [class.hidden]="!hasReceipt"
          [href]="receiptUrl()"
          target="_blank"
          >View Receipt</a
        >
        <button
          mat-raised-button
          extended
          class="btn-primary"
          type="button"
          (click)="toggleSplitByPercentage()"
        >
          {{ splitByPercentage() ? 'Split by percentage' : 'Split by amount' }}
          <mat-icon>
            {{ splitByPercentage() ? 'percent' : 'attach_money' }}
          </mat-icon>
        </button>
      </div>
      <div formArrayName="splits" class="mt-3">
        @for (
          splitForm of splitsFormArray.controls;
          track splitForm;
          let i = $index
        ) {
          <div [formGroupName]="i" class="flex-wrap fw-start row-gap">
            <div class="splits-1">
              <mat-form-field id="split-member" subscriptSizing="dynamic">
                <mat-label>Member</mat-label>
                <mat-select
                  formControlName="owedByMemberRef"
                  (selectionChange)="allocateSharedAmounts()"
                  docRefCompare
                >
                  @for (member of splitMembers(); track member.ref) {
                    <mat-option [value]="member.ref">{{
                      member.displayName
                    }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <button mat-mini-fab class="btn-danger" (click)="removeSplit(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <div class="flex-wrap fw-start row-gap">
              @if (splitByPercentage()) {
                <mat-form-field
                  appearance="fill"
                  class="number-field no-subscript"
                  subscriptSizing="dynamic"
                >
                  <mat-label>Percentage</mat-label>
                  <input
                    matInput
                    #inputElement
                    #memberPercentage
                    class="number-right"
                    parentControlName="splits"
                    [index]="i"
                    formControlName="percentage"
                    (blur)="allocateByPercentage()"
                  />
                  <span matTextSuffix>%</span>
                </mat-form-field>
              } @else {
                <mat-form-field
                  appearance="fill"
                  class="number-field no-subscript"
                  subscriptSizing="dynamic"
                >
                  <mat-label>Member Amount</mat-label>
                  <input
                    matInput
                    #inputElement
                    #memberAmount
                    class="number-right"
                    parentControlName="splits"
                    [index]="i"
                    formControlName="assignedAmount"
                    appFormatCurrencyInput
                    (blur)="allocateSharedAmounts()"
                    inputmode="decimal"
                  />
                  <span matTextPrefix>$</span>
                  <button
                    matIconSuffix
                    mat-icon-button
                    (click)="openCalculator($event, 'assignedAmount', i)"
                    aria-label="Open calculator"
                    type="button"
                  >
                    <mat-icon>calculate</mat-icon>
                  </button>
                </mat-form-field>
              }
              <div class="mock-input">
                <span class="mock-label">Allocated Amount</span>
                <span class="mock-value-right">
                  {{ splitForm.get('allocatedAmount')?.value | currency }}
                </span>
              </div>
            </div>
          </div>
          @if (i < splitsFormArray.length - 1) {
            <hr />
          }
        }
      </div>
    </form>
    <div class="flex-wrap fw-start row-gap mt-3">
      <button
        mat-raised-button
        class="btn-secondary"
        type="submit"
        defaultButton
        [disabled]="
          !editExpenseForm.valid ||
          editExpenseForm.disabled ||
          editExpenseForm.pristine ||
          !expenseFullyAllocated()
        "
        (click)="onSubmit()"
      >
        Save
      </button>
      <button
        mat-raised-button
        type="button"
        class="btn-danger"
        [disabled]="editExpenseForm.disabled"
        (click)="onDelete()"
      >
        Delete
      </button>
      <button
        mat-stroked-button
        type="button"
        [disabled]="editExpenseForm.disabled"
        (click)="onCancel()"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
