<h1 mat-dialog-title>Manage Groups</h1>
<mat-dialog-content>
  <div class="content pt-3">
    <mat-form-field id="group-select">
      <mat-label>Select Group</mat-label>
      <mat-select
        [(ngModel)]="selectedGroup"
        name="group"
        (selectionChange)="onSelectGroup()"
      >
        @for (group of userAdminGroups(); track group.id) {
          <mat-option [value]="group">{{ group.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <form [formGroup]="editGroupForm">
    <div class="content">
      <mat-form-field appearance="fill">
        <mat-label>Group name</mat-label>
        <input matInput formControlName="groupName" />
        <mat-error *ngIf="f.groupName.errors?.['required']">
          *Required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="toggle">
      <mat-slide-toggle formControlName="active">Active</mat-slide-toggle>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="button" class="btn btn-secondary" (click)="close()">
    Cancel
  </button>
  <button
    type="submit"
    defaultButton
    class="btn btn-primary"
    [disabled]="!editGroupForm.valid"
    (click)="onSubmit()"
  >
    Save
  </button>
</mat-dialog-actions>
