<h1 mat-dialog-title>Manage Groups</h1>
<mat-dialog-content>
  <form [formGroup]="editGroupForm">
    <div class="content pt-3">
      <mat-form-field id="group-select">
        <mat-label>Select Group</mat-label>
        <mat-select
          formControlName="groupId"
          name="group"
          (selectionChange)="onSelectGroup()"
        >
          @for (group of userAdminGroups(); track group.id) {
            <mat-option [value]="group.id">{{ group.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Group name</mat-label>
        <input matInput formControlName="groupName" />
        @if (f.groupName.errors?.['required']) {
          <mat-error> *Required </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="toggle">
      <mat-slide-toggle formControlName="active">Active</mat-slide-toggle>
    </div>
    <div class="toggle">
      <mat-slide-toggle formControlName="autoAddMembers"
        >Automatically add all group<br />
        members to new expenses</mat-slide-toggle
      >
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-raised-button
    class="btn-secondary"
    type="submit"
    defaultButton
    [disabled]="
      !editGroupForm.valid || editGroupForm.pristine || editGroupForm.disabled
    "
    (click)="onSubmit()"
  >
    Save
  </button>
  <button
    mat-stroked-button
    type="button"
    [mat-dialog-close]="false"
    [disabled]="editGroupForm.disabled"
  >
    Cancel
  </button>
</mat-dialog-actions>
