<h1 mat-dialog-title>Add New Group</h1>
<form [formGroup]="newGroupForm">
  <mat-dialog-content class="content">
    <mat-form-field appearance="fill">
      <mat-label>Group name</mat-label>
      <input matInput formControlName="groupName" />
      @if (f.groupName.errors?.['required']) {
        <mat-error> *Required </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Your name in the group</mat-label>
      <input matInput formControlName="displayName" />
      @if (f.displayName.errors?.['required']) {
        <mat-error> *Required </mat-error>
      }
    </mat-form-field>
    <div class="toggle">
      <mat-slide-toggle formControlName="autoAddMembers"
        >Automatically add all group<br />
        members to new expenses</mat-slide-toggle
      >
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-raised-button
      class="btn-secondary"
      type="submit"
      defaultButton
      [disabled]="!newGroupForm.valid || newGroupForm.disabled"
      (click)="onSubmit()"
    >
      Save
    </button>
    <button
      mat-stroked-button
      type="button"
      [disabled]="newGroupForm.disabled"
      [mat-dialog-close]="false"
    >
      Cancel
    </button>
  </mat-dialog-actions>
</form>
