.top-section {
  display: grid;
  grid-template-columns: 1fr 6fr 4fr 1fr;
  justify-content: center;
  grid-template-areas:
    '. app-details logo .'
    '. buttons link .';
  gap: 1rem;
}

@media (max-width: 768px) {
  .top-section {
    grid-template-columns: 1fr 4fr 4fr 1fr;
    row-gap: 1em;
    grid-template-rows: auto;
    grid-template-areas:
      '. app-details logo .'
      '. app-details link .'
      '. buttons buttons .';
  }
}

.app-details {
  grid-area: app-details;
}

.buttons {
  grid-area: buttons;
  display: flex;
  align-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;

  a {
    white-space: nowrap;
  }
}

.logo {
  grid-area: logo;
  display: grid;
  align-content: flex-start;
  justify-content: center;
}

.platform-message {
  grid-area: link;
  display: flex;
  align-content: flex-start;
  justify-content: center;
}

.web-visit-section p {
  font-size: 1.2rem;
  font-weight: bold;

  a {
    font-size: inherit;
  }
}

.home-container {
  padding: 16px 15% 0;
}

@media (max-width: 1200px) {
  .home-container {
    padding: 16px 10% 0;
  }
}

@media (max-width: 990px) {
  .home-container {
    padding: 16px 5% 0;

    .feature-container {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      row-gap: 2px;
    }
  }
}

@media (min-width: 769px) {
  #app-logo {
    height: 200px;
    width: 200px;
  }
}

@media (max-width: 768px) {
  #app-logo {
    height: 125px;
    width: 125px;
  }
}

.summary {
  font-size: larger;
  font-weight: bold;
}

.app-title {
  font-size: x-large;
  font-weight: bold;
}

.feature-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2px;
}

.feature {
  display: grid;
  grid-template-rows: 64px max-content auto;
  padding: 8px;
  gap: 1rem;
}

.feature-icon {
  align-self: center;
}

.feature-icon mat-icon {
  height: 36px;
  width: 36px;
  font-size: 36px;
}

.feature-title {
  display: grid;
  justify-self: center;
  width: 100%;
}

.feature-description {
  display: grid;
  justify-self: center;
  width: 100%;
  padding-bottom: 8px;
}
