.home-container {
  padding: 16px 15% 0;
}

@media (max-width: 1200px) {
  .home-container {
    padding: 16px 10% 0;
  }
}

@media (max-width: 800px) {
  .home-container {
    padding: 16px 5% 0;

    .feature-container {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      row-gap: 2px;
    }
  }
}

@media (min-width: 801px) {
  #logo {
    height: 200px;
    width: 200px;
  }
}

@media (max-width: 800px) {
  #logo {
    height: 125px;
    width: 125px;
  }
}

.top-section {
  display: grid;
  grid-template-columns: 1fr 4fr 3fr 1fr;
  justify-content: center;
}

.description {
  align-self: flex-start;
}

.image {
  display: grid;
  margin-left: 20px;
  align-self: self-start;
  justify-items: center;
}

.image span,
a {
  font-size: 0.8rem;
}

.summary {
  font-size: larger;
  font-weight: bold;
}

.app-title {
  font-size: x-large;
  font-weight: bold;
}

.feature-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2px;
}

.feature {
  display: grid;
  grid-template-rows: 64px 32px auto;
  padding: 8px;
}

.feature-icon {
  align-self: center;
}

.feature-icon mat-icon {
  height: 36px;
  width: 36px;
  font-size: 36px;
}

.feature-title {
  display: grid;
  justify-self: center;
  width: 100%;
}

.feature-description {
  display: grid;
  justify-self: center;
  width: 100%;
  padding-bottom: 8px;
}
