<div class="container home-container">
  <div class="align-self-center mt-2 mb-4">
    <p class="app-title">Pip Cost Sharing</p>
  </div>
  <div class="top-section">
    <div></div>
    <div class="description">
      <p class="summary">
        Enter and track shared expenses for an unlimited number of groups.
      </p>
      <p class="mb-5">
        Split expenses with friends for your weekend getaway, track monthly
        costs with your roommates, or easily calculate shares of a dinner out.
      </p>
      @if (!isLoggedIn()) {
        <a
          mat-raised-button
          class="btn-primary mb-4"
          type="button"
          routerLink="/login"
        >
          Sign up for a free account
        </a>
      }
    </div>
    <div class="image">
      <img
        id="logo"
        src="/assets/images/exchange_money.svg"
        alt="Designed by Freepik"
      />
      <span
        >Designed by
        <a href="https://www.freepik.com" target="_blank">Freepik</a></span
      >
    </div>
    <div></div>
  </div>
  <div class="feature-container mt-4 mb-5">
    <div class="feature">
      <div class="feature-icon">
        <mat-icon>category</mat-icon>
      </div>
      <div class="feature-title">
        <p>
          <strong>Categorize Expenses</strong>
        </p>
      </div>
      <div class="feature-description">
        <p>
          Create as many categories as needed for your group. Categorize and
          view expenses by category, payee, and date range.
        </p>
      </div>
    </div>
    <div class="feature">
      <div class="feature-icon">
        <mat-icon>attach_money</mat-icon>
      </div>
      <div class="feature-title">
        <p>
          <strong>See a summary breakdown</strong>
        </p>
      </div>
      <div class="feature-description">
        <p>
          View a summary of expenses owed between group members, and view the
          detail of the expenses by category. Mark expenses paid one at a time,
          or by using the summary to mark all expenses between two members paid.
        </p>
      </div>
    </div>
    <div class="feature">
      <div class="feature-icon">
        <mat-icon>currency_exchange</mat-icon>
      </div>
      <div class="feature-title">
        <p>
          <strong>Memorize Recurring Expenses</strong>
        </p>
      </div>
      <div class="feature-description">
        <p>
          If your group has regularly recurring expenses, you can memorize them
          for easy entry whenever needed.
        </p>
      </div>
    </div>
  </div>
</div>
