@if (!categoryStore.loaded()) {
  <div class="container pt-3">
    <h3>Loading categories...</h3>
  </div>
} @else {
  <div class="container with-table pt-3">
    <div class="page-header">
      <div></div>
      <h3>Categories</h3>
      <div class="help-icon">
        <mat-icon matTooltip="Help" (click)="showHelp()">help</mat-icon>
      </div>
    </div>
    <h4>{{ currentGroup()?.name }}</h4>
    <div class="filters">
      <mat-form-field class="clearable" subscriptSizing="dynamic">
        <mat-label>Search by name</mat-label>
        <input matInput type="text" [(ngModel)]="nameFilter" />
        @if (nameFilter() !== '') {
          <button
            matSuffix
            matIconButton
            tabindex="-1"
            aria-label="Clear"
            (click)="nameFilter.set('')"
            [matTooltip]="'Clear'"
          >
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
      <mat-slide-toggle #activeToggle [checked]="true" [(ngModel)]="activeOnly">
        Active only
      </mat-slide-toggle>
    </div>
    <div>
      <button
        mat-raised-button
        class="btn-primary"
        [class.hidden]="!currentMember()?.groupAdmin"
        (click)="addCategory()"
      >
        Add Category
      </button>
    </div>
    @if (filteredCategories()?.length > 0) {
      <div class="table-container mat-elevation-z8">
        <div class="scrollable-table">
          <table
            mat-table
            matSort
            [dataSource]="filteredCategories()"
            (matSortChange)="sortCategories($event)"
            class="static-table"
          >
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Category
              </th>
              <td mat-cell *matCellDef="let category">{{ category.name }}</td>
            </ng-container>
            <ng-container matColumnDef="active">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let category">
                {{ category.active | activeInactive }}
              </td>
            </ng-container>
            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns(); sticky: true"
            ></tr>
            <tr
              mat-row
              *matRowDef="let myRowData; columns: displayedColumns()"
              (click)="onRowClick(myRowData)"
              [class.clickable-row]="currentMember()?.groupAdmin"
            ></tr>
          </table>
        </div>
      </div>
    } @else {
      <div class="container pt-3">
        <h5>No categories found</h5>
      </div>
    }
  </div>
}
