<div class="container pt-3">
  <div class="page-header">
    <div></div>
    <h3>{{ currentGroup()?.name }}</h3>
    <div class="help-icon">
      <mat-icon matTooltip="Help" (click)="showHelp()">help</mat-icon>
    </div>
  </div>
  <div class="filters mb-2">
    <mat-form-field>
      <mat-label>Search by name</mat-label>
      <input matInput [(ngModel)]="nameFilter" />
      @if (nameFilter() !== '') {
        <button
          matSuffix
          tabindex="-1"
          mat-icon-button
          aria-label="Clear"
          (click)="nameFilter.set('')"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
    <mat-slide-toggle #activeToggle [checked]="true" [(ngModel)]="activeOnly">
      Active only
    </mat-slide-toggle>
    <div class="add-button">
      <button
        class="btn btn-primary"
        [class.hidden]="!currentMember()?.groupAdmin"
        (click)="addCategory()"
      >
        Add Category
      </button>
    </div>
  </div>
  <div class="table-container">
    <div class="scrollable-table mat-elevation-z8">
      <table
        mat-table
        matSort
        [dataSource]="filteredCategories()"
        (matSortChange)="sortCategories($event)"
      >
        @let columnsToDisplay = ['name', 'active'];
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let category">{{ category.id }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
          <td mat-cell *matCellDef="let category">{{ category.name }}</td>
        </ng-container>
        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let category">
            {{ category.active | activeInactive }}
          </td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="columnsToDisplay; sticky: true"
        ></tr>
        <tr
          mat-row
          *matRowDef="let myRowData; columns: columnsToDisplay"
          (click)="onRowClick(myRowData)"
          [class.clickable-row]="currentMember()?.groupAdmin"
        ></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [colSpan]="columnsToDisplay.length">
            No categories found matching "{{ nameFilter() }}".
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
