.container {
  width: 360px;
}

.page-header {
  align-items: baseline;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4px;
}

#join-code {
  font-size: 1.1rem;
  font-weight: bold;
  cursor: copy;
}
