<div>
    <mat-form-field>
        <mat-label>Select Group</mat-label>
        <mat-select [(ngModel)]="selectedGroupId" name="group" (selectionChange)="onSelectGroup($event)">
            @for (group of groups$ | async; track group) {
            <mat-option [value]="group.id">{{group.name}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <button type="button" class="btn btn-primary ms-2 me-2" (click)="addGroup()">Create New
        Group</button>
    <button type="button" class="btn btn-secondary" (click)="joinGroup()">Join Group</button>
    <app-group-details *ngIf="!!selectedGroupId"></app-group-details>
</div>