<div class="d-flex flex-column">
    <div class="d-flex p-2 justify-content-center">
        <div class="d-flex justify-content-center">
            <mat-form-field id="group-select" color="primary">
                <mat-label>Select Group</mat-label>
                <mat-select [(ngModel)]="selectedGroupId" name="group" (selectionChange)="onSelectGroup($event)">
                    @for (group of groups$ | async; track group) {
                    <mat-option [value]="group.id">{{group.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <button type="button" class="btn btn-primary ms-4 me-2" (click)="addGroup()">Create New
                Group</button>
            <button type="button" class="btn btn-secondary" (click)="joinGroup()">Join Group</button>
        </div>
    </div>
    <div *ngIf="!!selectedGroupId" id="group-details" class="d-flex flex-column">
        <div class="d-flex justify-content-center">
            <span id="join-code" matTooltip="Click to copy group join code" (click)="copyGroupCode()">
                Group join code: {{selectedGroupId}}
            </span>
        </div>
        <div class="d-flex justify-content-center">
            <mat-tab-group class="flex-grow-1">
                <mat-tab label="Members">
                    <app-members [groupId]="selectedGroupId" [currentUser]="currentUser"
                        [isGroupAdmin]="isGroupAdmin"></app-members>
                </mat-tab>
                <mat-tab label="Categories">
                    <app-categories [groupId]="selectedGroupId" [isGroupAdmin]="isGroupAdmin"></app-categories>
                </mat-tab>
                <mat-tab label="Expenses">
                    <app-expenses [groupId]="selectedGroupId" [currentMember]="currentMember"
                        [isGroupAdmin]="isGroupAdmin" [expensesChanged]="expensesChanged"></app-expenses>
                </mat-tab>
                <mat-tab label="Summary">
                    <app-summary [groupId]="selectedGroupId" [isGroupAdmin]="isGroupAdmin"
                        (expensesPaidEvent)="expensesPaid($event)"></app-summary>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>