<h1 mat-dialog-title>Edit Category</h1>
<form [formGroup]="editCategoryForm">
  <mat-dialog-content>
    <div class="content">
      <mat-form-field appearance="fill">
        <mat-label>Category name</mat-label>
        <input matInput formControlName="categoryName" />
        @if (f.categoryName.errors?.['required']) {
          <mat-error> *Required </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="toggle">
      <mat-slide-toggle formControlName="active">Active</mat-slide-toggle>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-raised-button
      class="btn-secondary"
      type="submit"
      defaultButton
      [disabled]="
        !editCategoryForm.valid ||
        editCategoryForm.pristine ||
        editCategoryForm.disabled
      "
      (click)="onSubmit()"
    >
      Save
    </button>
    <button
      mat-raised-button
      type="button"
      class="btn-danger"
      [disabled]="editCategoryForm.disabled"
      (click)="deleteCategory()"
    >
      Delete
    </button>
    <button
      mat-stroked-button
      type="button"
      [disabled]="editCategoryForm.disabled"
      [mat-dialog-close]="{ success: false }"
    >
      Cancel
    </button>
  </mat-dialog-actions>
</form>
