<h1 mat-dialog-title>Edit Category</h1>
<form [formGroup]="editCategoryForm">
  <mat-dialog-content>
    <div class="content">
      <mat-form-field appearance="fill">
        <mat-label>Category name</mat-label>
        <input matInput formControlName="categoryName" />
        @if (f.categoryName.errors?.['required']) {
          <mat-error> *Required </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="toggle">
      <mat-slide-toggle formControlName="active">Active</mat-slide-toggle>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="button" class="btn btn-secondary" (click)="close()">
      Cancel
    </button>
    <button type="button" class="btn btn-warning" (click)="deleteCategory()">
      Delete
    </button>
    <button
      type="submit"
      defaultButton
      class="btn btn-primary"
      [disabled]="!editCategoryForm.valid"
      (click)="onSubmit()"
    >
      Save
    </button>
  </mat-dialog-actions>
</form>
