mat-icon {
  font-size: 24px !important;
  height: 24px !important;
  width: 24px !important;
  color: white;
  margin: 0 2px 0 0 !important;
}

.links a {
  padding-left: 6px !important;
  padding-right: 6px !important;
  color: white;
  line-height: 24px;
}

.links a span {
  line-height: 24px;
  font-size: 1.125rem !important;
}

.menu a,
.menu a mat-icon {
  color: white;
  text-decoration: none;
}

.account {
  margin-left: auto;
  margin-right: 0;
}

#title {
  display: inline-block;
  margin-right: 12px;
  line-height: 48px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

#outlet {
  width: 95vw;
  margin-left: 2.5vw;
  padding-bottom: 20px;
}
