<mat-sidenav-container fullscreen>
  <mat-sidenav #start (click)="start.close()">
    <mat-nav-list>
      <ng-container *ngIf="user.isLoggedIn$ | async">
        <a mat-list-item routerLink="groups">
          <mat-icon>groups</mat-icon>
          <span>Members</span>
        </a>
        <a mat-list-item routerLink="categories">
          <mat-icon>perm_contact_calendar</mat-icon>
          <span>Practices</span>
        </a>
        <a mat-list-item routerLink="expenses">
          <mat-icon>perm_contact_calendar</mat-icon>
          <span>Expenses</span>
        </a>
        <a mat-list-item routerLink="profile">
          <mat-icon>account_circle</mat-icon>
          <span>Profile</span>
        </a>
        <a mat-list-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Log Out</span>
        </a>
      </ng-container>
      <a *ngIf="!(user.isLoggedIn$ | async)" mat-list-item routerLink="login">
        <mat-icon>login</mat-icon>
        <span>Log In</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <div class="toolbar-tools">
      <button mat-icon-button (click)="start.open('mouse')">
        <mat-icon>menu</mat-icon>
      </button>
      <a id="title" routerLink="groups">Cost Sharing</a>
    </div>
  </mat-toolbar>
  <loading></loading>
  <router-outlet></router-outlet>
</mat-sidenav-container>