<mat-toolbar class="nav">
  <mat-toolbar-row>
    @if (isSmallScreen()) {
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon fontSet="material-symbols-outlined">menu</mat-icon>
      </button>
      <span id="title">PipSplit</span>
      <div class="account links">
        <button
          matIconButton
          (click)="toggleTheme()"
          [matTooltip]="
            themeService.currentTheme() === 'light'
              ? 'Switch to dark mode'
              : 'Switch to light mode'
          "
        >
          <mat-icon>
            {{
              themeService.currentTheme() === 'light'
                ? 'dark_mode'
                : 'light_mode'
            }}
          </mat-icon>
        </button>
      </div>
    }
    @if (!isSmallScreen()) {
      <span id="title">PipSplit</span>
      @if (isLoggedIn()) {
        <div class="links">
          <a matButton routerLink="groups" aria-label="groups" title="Groups">
            <mat-icon fontSet="material-symbols-outlined">groups</mat-icon
            >&nbsp;Groups
          </a>
          @if (currentGroup() != null) {
            <a
              matButton
              routerLink="members"
              aria-label="members"
              title="Members"
            >
              <mat-icon fontSet="material-symbols-outlined">face</mat-icon
              >&nbsp;Members
            </a>
            <a
              matButton
              routerLink="categories"
              aria-label="categories"
              title="Categories"
            >
              <mat-icon fontSet="material-symbols-outlined">category</mat-icon
              >&nbsp;Categories
            </a>
            <a
              matButton
              routerLink="expenses"
              aria-label="expenses"
              title="Expenses"
            >
              <mat-icon fontSet="material-symbols-outlined"
                >attach_money</mat-icon
              >Expenses
            </a>
            <a
              matButton
              routerLink="memorized"
              aria-label="memorized"
              title="Memorized"
            >
              <mat-icon fontSet="material-symbols-outlined"
                >currency_exchange</mat-icon
              >&nbsp;Memorized
            </a>
            <a
              matButton
              routerLink="summary"
              aria-label="summary"
              title="Summary"
            >
              <mat-icon fontSet="material-symbols-outlined"
                >compare_arrows</mat-icon
              >&nbsp;Summary
            </a>
            <a
              matButton
              routerLink="history"
              aria-label="history"
              title="History"
            >
              <mat-icon fontSet="material-symbols-outlined">receipt</mat-icon
              >&nbsp;History
            </a>
            <a
              matButton
              routerLink="split"
              aria-label="split expense"
              title="Split Expense"
            >
              <mat-icon fontSet="material-symbols-outlined"
                >arrow_split</mat-icon
              >&nbsp;Split Expense
            </a>
          }
        </div>
      }
      <div class="account links">
        <button
          matIconButton
          (click)="toggleTheme()"
          [matTooltip]="
            themeService.currentTheme() === 'light'
              ? 'Switch to dark mode'
              : 'Switch to light mode'
          "
        >
          <mat-icon>
            {{
              themeService.currentTheme() === 'light'
                ? 'dark_mode'
                : 'light_mode'
            }}
          </mat-icon>
        </button>
        @if (isLoggedIn()) {
          <a
            matIconButton
            [routerLink]="['help']"
            matTooltip="Help"
            aria-label="help"
          >
            <mat-icon>help</mat-icon>
          </a>
          <a
            matIconButton
            [routerLink]="['auth', 'account']"
            matTooltip="Account"
            aria-label="account"
          >
            <mat-icon>account_circle</mat-icon>
          </a>
          <button
            matIconButton
            (click)="logout()"
            aria-label="log out"
            matTooltip="Log out"
          >
            <mat-icon>logout</mat-icon>
          </button>
        } @else {
          <a
            matButton
            [routerLink]="['auth', 'login']"
            aria-label="login"
            matTooltip="Login"
          >
            <mat-icon>login</mat-icon>
            &nbsp;<span>Log in</span>
          </a>
        }
      </div>
    }
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <div class="menu">
    @if (isLoggedIn()) {
      <a mat-menu-item routerLink="groups" aria-label="groups" title="Groups">
        <mat-icon fontSet="material-symbols-outlined">groups</mat-icon
        >&nbsp;Groups
      </a>
      @if (currentGroup() != null) {
        <a
          mat-menu-item
          routerLink="members"
          aria-label="members"
          title="Members"
        >
          <mat-icon fontSet="material-symbols-outlined">face</mat-icon
          >&nbsp;Members
        </a>
        <a
          mat-menu-item
          routerLink="categories"
          aria-label="categories"
          title="Categories"
        >
          <mat-icon fontSet="material-symbols-outlined">category</mat-icon
          >&nbsp;Categories
        </a>
        <a
          mat-menu-item
          routerLink="expenses"
          aria-label="expenses"
          title="Expenses"
        >
          <mat-icon fontSet="material-symbols-outlined">attach_money</mat-icon
          >Expenses
        </a>
        <a
          mat-menu-item
          routerLink="memorized"
          aria-label="memorized"
          title="Memorized"
        >
          <mat-icon fontSet="material-symbols-outlined"
            >currency_exchange</mat-icon
          >&nbsp;Memorized
        </a>
        <a
          mat-menu-item
          routerLink="summary"
          aria-label="summary"
          title="Summary"
        >
          <mat-icon fontSet="material-symbols-outlined">compare_arrows</mat-icon
          >&nbsp;Summary
        </a>
        <a
          mat-menu-item
          routerLink="history"
          aria-label="history"
          title="History"
        >
          <mat-icon fontSet="material-symbols-outlined">receipt</mat-icon
          >&nbsp;History
        </a>
      }
      <a mat-menu-item routerLink="help" aria-label="help" title="Help">
        <mat-icon fontSet="material-symbols-outlined">help</mat-icon>&nbsp;Help
      </a>
      <a
        mat-menu-item
        routerLink="auth/account"
        aria-label="account"
        title="Account"
      >
        <mat-icon fontSet="material-symbols-outlined">account_circle</mat-icon
        >&nbsp;Account
      </a>
      <a mat-menu-item (click)="logout()" aria-label="log out" title="Log out">
        <mat-icon fontSet="material-symbols-outlined">logout</mat-icon>&nbsp;Log
        out
      </a>
    } @else {
      <a mat-menu-item routerLink="auth/login" aria-label="login" title="Login">
        <mat-icon fontSet="material-symbols-outlined">login</mat-icon>&nbsp;Log
        in
      </a>
    }
  </div>
</mat-menu>
<loading />
<div id="outlet">
  <router-outlet />
</div>
<footer></footer>
