#description {
  min-width: 212px;
  flex: 1;
}

.attachment {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  margin-bottom: 8px;
}

.splits-1 {
  display: grid;
  column-gap: 8px;
  grid-template-columns: max-content auto;
  align-items: baseline;
}
