<div class="page-header">
  <div></div>
  <h3>Add Expense</h3>
  <div class="help-icon">
    <mat-icon matTooltip="Help" (click)="showHelp()">help</mat-icon>
  </div>
</div>
<mat-dialog-content>
  @let members = activeMembers();
  <div class="container mb-2">
    <form [formGroup]="addExpenseForm" id="expense-form">
      <div class="details-1">
        <mat-form-field id="paid-by-select">
          <mat-label>Paid by</mat-label>
          <mat-select formControlName="paidByMemberId" name="group">
            @for (member of members; track member.id) {
              <mat-option [value]="member.id">{{
                member.displayName
              }}</mat-option>
            }
          </mat-select>
          @if (e.paidByMemberId.errors?.['required']) {
            <mat-error> *Required </mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill" class="datepicker">
          <mat-label>Date</mat-label>
          <input
            matInput
            formControlName="date"
            [matDatepicker]="expenseDatePicker"
            appDateShortcutKeys
            #datePicker
          />
          <mat-hint>+/- to change date</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="expenseDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #expenseDatePicker></mat-datepicker>
          @if (e.date.errors?.['required']) {
            <mat-error> *Required </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="details-2">
        <mat-form-field appearance="fill" id="description">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" />
          @if (e.description.errors?.['required']) {
            <mat-error> *Required </mat-error>
          }
        </mat-form-field>
        <mat-form-field
          id="category-select"
          [class.hidden]="activeCategories().length === 1"
        >
          <mat-label>Category</mat-label>
          <mat-select formControlName="categoryId" name="category">
            @for (category of activeCategories(); track category.id) {
              <mat-option [value]="category.id">{{ category.name }}</mat-option>
            }
          </mat-select>
          @if (e.categoryId.errors?.['required']) {
            <mat-error> *Required </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="details-3">
        <mat-form-field
          appearance="fill"
          floatLabel="always"
          class="number-field"
        >
          <mat-label>Total Amount</mat-label>
          <input
            matInput
            #inputElement
            #totalAmount
            formControlName="amount"
            class="number-right"
            appFormatCurrencyInput
            (blur)="allocateSharedAmounts()"
          />
          <span matTextPrefix>$</span>
          @if (e.amount.errors?.['required']) {
            <mat-error> *Required </mat-error>
          }
          @if (e.amount.errors?.['zeroAmount']) {
            <mat-error> Cannot be zero </mat-error>
          }
        </mat-form-field>
        <mat-form-field
          appearance="fill"
          floatLabel="always"
          class="number-field"
        >
          <mat-label>Proportional Amount</mat-label>
          <input
            matInput
            #inputElement
            #propAmount
            formControlName="allocatedAmount"
            class="number-right"
            appFormatCurrencyInput
            (blur)="allocateSharedAmounts()"
          />
          <span matTextPrefix>$</span>
          <mat-hint>Tax, tip, etc.</mat-hint>
          @if (e.allocatedAmount.errors?.['required']) {
            <mat-error> *Required - Enter 0 if none </mat-error>
          }
        </mat-form-field>
        <div class="mock-input">
          <span class="mock-label">Evenly Shared Remainder</span>
          <span class="mock-value">
            {{ e.sharedAmount.value | currency }}
          </span>
        </div>
      </div>
      <div class="attachment-container">
        @if (!!fileName()) {
          <div (click)="removeFile()" class="attachment">
            <button mat-mini-fab class="btn btn-danger">
              <mat-icon>delete</mat-icon>
            </button>
            <span class="filename">{{ fileName() }}</span>
          </div>
        } @else {
          <div (click)="attachFile.click()" class="attachment">
            <input
              type="file"
              accept=".pdf,image/*"
              class="file-input"
              #attachFile
              (change)="onFileSelected($event)"
            />
            <button mat-mini-fab class="btn btn-success">
              <mat-icon>attach_file</mat-icon>
            </button>
            <span class="filename">Upload receipt</span>
          </div>
        }
      </div>
      <div class="buttons">
        <button
          mat-raised-button
          class="btn-primary"
          type="button"
          (click)="addSplit()"
        >
          Add New Split
        </button>
        <button
          mat-raised-button
          class="btn-primary"
          type="button"
          (click)="addAllActiveGroupMembers()"
        >
          Add All Members
        </button>
      </div>
      <div formArrayName="splits" class="mt-3">
        @for (
          splitForm of splitsFormArray.controls;
          track splitForm;
          let i = $index
        ) {
          <div [formGroupName]="i" class="splits">
            <div class="splits-1">
              <mat-form-field id="split-member" subscriptSizing="dynamic">
                <mat-label>Member</mat-label>
                <mat-select
                  formControlName="owedByMemberId"
                  (selectionChange)="allocateSharedAmounts()"
                >
                  @for (member of members; track member.id) {
                    <mat-option [value]="member.id">{{
                      member.displayName
                    }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <button
                mat-icon-button
                class="btn-danger"
                (click)="removeSplit(i)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <div class="splits-2">
              <mat-form-field
                appearance="fill"
                class="number-field"
                subscriptSizing="dynamic"
              >
                <mat-label>Member Amount</mat-label>
                <input
                  matInput
                  #inputElement
                  #memberAmount
                  class="number-right"
                  parentControlName="splits"
                  [index]="i"
                  formControlName="assignedAmount"
                  appFormatCurrencyInput
                  (blur)="allocateSharedAmounts()"
                />
                <span matTextPrefix>$</span>
              </mat-form-field>
              <div class="mock-input">
                <span class="mock-label">Allocated Amount</span>
                <span class="mock-value">
                  {{ splitForm.get('allocatedAmount').value | currency }}
                </span>
              </div>
            </div>
          </div>
          <hr />
        }
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-raised-button
    class="btn-secondary"
    type="submit"
    defaultButton
    [disabled]="!addExpenseForm.valid || addExpenseForm.disabled"
    (click)="onSubmit()"
  >
    Save
  </button>
  <button
    mat-stroked-button
    type="button"
    [mat-dialog-close]="false"
    [disabled]="addExpenseForm.disabled"
  >
    Cancel
  </button>
</mat-dialog-actions>
