<h1 mat-dialog-title>Add Category</h1>
<form [formGroup]="newCategoryForm">
  <mat-dialog-content class="content">
    <mat-form-field appearance="fill">
      <mat-label>Category name</mat-label>
      <input matInput formControlName="categoryName" />
      @if (f.categoryName.errors?.['required']) {
        <mat-error> *Required </mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-flat-button
      type="submit"
      defaultButton
      class="btn-tertiary"
      [disabled]="!newCategoryForm.valid || newCategoryForm.disabled"
      (click)="onSubmit()"
    >
      Save
    </button>
    <button
      mat-stroked-button
      type="button"
      [mat-dialog-close]="false"
      [disabled]="newCategoryForm.disabled"
    >
      Cancel
    </button>
  </mat-dialog-actions>
</form>
