<h1 mat-dialog-title>Add Category</h1>
<form [formGroup]="newCategoryForm">
  <mat-dialog-content class="content">
    <mat-form-field appearance="fill">
      <mat-label>Category name</mat-label>
      <input matInput formControlName="categoryName" />
      @if (f.categoryName.errors?.['required']) {
        <mat-error> *Required </mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="button" class="btn btn-secondary" mat-dialog-close>
      Cancel
    </button>
    <button
      type="submit"
      defaultButton
      class="btn btn-primary"
      [disabled]="!newCategoryForm.valid"
      (click)="onSubmit()"
    >
      Save
    </button>
  </mat-dialog-actions>
</form>
