<div class="container pt-3" data-testid="add-memorized-container">
  <div class="page-header" data-testid="add-memorized-page-header">
    <div></div>
    <h3 data-testid="add-memorized-page-title">Memorize Expense</h3>
    <div class="help-icon" data-testid="add-memorized-help-icon-container">
      <mat-icon
        matTooltip="Help"
        (click)="showHelp()"
        data-testid="add-memorized-help-button"
        aria-label="Show help for memorizing expenses"
        >help</mat-icon
      >
    </div>
  </div>
  <div class="sub-container mb-2">
    <form
      [formGroup]="addMemorizedForm"
      id="expense-form"
      data-testid="add-memorized-form"
      aria-label="Memorize expense form"
    >
      <div>
        <mat-form-field id="paid-by-select">
          <mat-label>Payer</mat-label>
          <mat-select
            formControlName="paidByMember"
            name="paidByMember"
            docRefCompare
          >
            @for (member of activeMembers(); track member.ref) {
              <mat-option [value]="member.ref">{{
                member.displayName
              }}</mat-option>
            }
          </mat-select>
          @if (e.paidByMember.errors?.['required']) {
            <mat-error> *Required </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="flex-wrap fw-start">
        <mat-form-field appearance="fill" id="description">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" />
          @if (e.description.errors?.['required']) {
            <mat-error> *Required </mat-error>
          }
        </mat-form-field>
        <mat-form-field
          id="category-select"
          [class.hidden]="activeCategories().length === 1"
        >
          <mat-label>Category</mat-label>
          <mat-select formControlName="category" name="category" docRefCompare>
            @for (category of activeCategories(); track category.ref) {
              <mat-option [value]="category.ref">{{
                category.name
              }}</mat-option>
            }
          </mat-select>
          @if (e.category.errors?.['required']) {
            <mat-error> *Required </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="flex-wrap fw-start">
        <mat-form-field
          appearance="fill"
          floatLabel="always"
          class="total-amount-field"
        >
          <mat-label>Total Amount</mat-label>
          <input
            matInput
            #inputElement
            #totalAmount
            formControlName="amount"
            class="number-right"
            appFormatCurrencyInput
            (blur)="updateTotalAmount()"
            inputmode="decimal"
          />
          @if (localeService.currency().symbolPosition === 'prefix') {
            <span matTextPrefix>{{ localeService.currency().symbol }}</span>
          }
          @if (localeService.currency().symbolPosition === 'suffix') {
            <span matTextSuffix
              >&nbsp;{{ localeService.currency().symbol }}</span
            >
          }
          <button
            matIconSuffix
            mat-icon-button
            (click)="
              openCalculator($event, 'amount');
              $event.preventDefault();
              $event.stopPropagation()
            "
            aria-label="Open calculator"
            type="button"
          >
            <mat-icon>calculate</mat-icon>
          </button>
          @if (e.amount.errors?.['required']) {
            <mat-error> *Required </mat-error>
          }
          @if (e.amount.errors?.['zeroAmount']) {
            <mat-error> Cannot be zero </mat-error>
          }
        </mat-form-field>
        <mat-form-field
          appearance="fill"
          floatLabel="always"
          class="proportional-amount-field"
          [class.hidden]="splitByPercentage()"
        >
          <mat-label>Proportional Amount</mat-label>
          <input
            matInput
            #inputElement
            #propAmount
            formControlName="allocatedAmount"
            class="number-right"
            appFormatCurrencyInput
            (blur)="allocateSharedAmounts()"
            inputmode="decimal"
          />
          @if (localeService.currency().symbolPosition === 'prefix') {
            <span matTextPrefix>{{ localeService.currency().symbol }}</span>
          }
          @if (localeService.currency().symbolPosition === 'suffix') {
            <span matTextSuffix
              >&nbsp;{{ localeService.currency().symbol }}</span
            >
          }
          <button
            matIconSuffix
            mat-icon-button
            (click)="
              openCalculator($event, 'allocatedAmount');
              $event.preventDefault();
              $event.stopPropagation()
            "
            aria-label="Open calculator"
            type="button"
          >
            <mat-icon>calculate</mat-icon>
          </button>
          <mat-hint>Tax, tip, etc.</mat-hint>
          @if (e.allocatedAmount.errors?.['required']) {
            <mat-error> *Required - Enter 0 if none </mat-error>
          }
        </mat-form-field>
        <div class="mock-input" [class.hidden]="splitByPercentage()">
          <span class="mock-label">Evenly Shared Remainder</span>
          <span class="mock-value-right">
            {{ e.sharedAmount.value | currency }}
          </span>
        </div>
      </div>
      <div class="flex-wrap fw-start row-gap">
        <button
          mat-raised-button
          class="btn-primary"
          type="button"
          (click)="addSplit()"
          [disabled]="activeMembers().length === splitsFormArray.length"
        >
          Add New Split
        </button>
        <button
          mat-raised-button
          class="btn-primary"
          type="button"
          (click)="addAllActiveGroupMembers()"
          [disabled]="activeMembers().length === splitsFormArray.length"
        >
          Add All Members
        </button>
        <div class="split-button-container">
          <button
            mat-raised-button
            class="left-half-btn"
            [class.btn-primary]="!splitByPercentage()"
            [class.btn-unselected]="splitByPercentage()"
            type="button"
            (click)="onSplitByAmountClick()"
            data-testid="split-by-amount-button"
            aria-label="Change to split by amount"
            matTooltip="Split by Amount"
          >
            <mat-icon>attach_money</mat-icon>
          </button>
          <button
            mat-raised-button
            class="right-half-btn"
            [class.btn-primary]="splitByPercentage()"
            [class.btn-unselected]="!splitByPercentage()"
            type="button"
            (click)="onSplitByPercentageClick()"
            data-testid="split-by-percentage-button"
            aria-label="Change to split by percentage"
            matTooltip="Split by Percentage"
          >
            <mat-icon>percent</mat-icon>
          </button>
        </div>
      </div>
      <div formArrayName="splits" class="mt-3">
        @for (
          splitForm of splitsFormArray.controls;
          track splitForm;
          let i = $index
        ) {
          <div [formGroupName]="i" class="flex-wrap fw-start row-gap">
            <div class="splits-1">
              <mat-form-field id="split-member" subscriptSizing="dynamic">
                <mat-label>Member</mat-label>
                <mat-select
                  formControlName="owedByMemberRef"
                  (selectionChange)="allocateSharedAmounts()"
                  docRefCompare
                >
                  @for (member of availableMembersForSplit(i); track member.ref) {
                    <mat-option [value]="member.ref">{{
                      member.displayName
                    }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <button mat-mini-fab class="btn-danger" (click)="removeSplit(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <div class="flex-wrap fw-start row-gap">
              @if (splitByPercentage()) {
                <mat-form-field
                  appearance="fill"
                  class="number-field no-subscript"
                  [class.locked-input]="isLastSplit(i)"
                  subscriptSizing="dynamic"
                  [matTooltip]="
                    isLastSplit(i)
                      ? 'The last split percentage is automatically calculated to make the total 100%'
                      : ''
                  "
                >
                  <mat-label>Percentage</mat-label>
                  <input
                    matInput
                    #inputElement
                    #memberPercentage
                    class="number-right"
                    parentControlName="splits"
                    [index]="i"
                    formControlName="percentage"
                    [readonly]="isLastSplit(i)"
                    (blur)="allocateByPercentage()"
                  />
                  <span matTextSuffix>%</span>
                </mat-form-field>
              } @else {
                <mat-form-field
                  appearance="fill"
                  class="number-field no-subscript"
                  subscriptSizing="dynamic"
                >
                  <mat-label>Member Amount</mat-label>
                  <input
                    matInput
                    #inputElement
                    #memberAmount
                    class="number-right"
                    parentControlName="splits"
                    [index]="i"
                    formControlName="assignedAmount"
                    appFormatCurrencyInput
                    (blur)="allocateSharedAmounts()"
                    inputmode="decimal"
                  />
                  @if (localeService.currency().symbolPosition === 'prefix') {
                    <span matTextPrefix>{{
                      localeService.currency().symbol
                    }}</span>
                  }
                  @if (localeService.currency().symbolPosition === 'suffix') {
                    <span matTextSuffix
                      >&nbsp;{{ localeService.currency().symbol }}</span
                    >
                  }
                  <button
                    matIconSuffix
                    mat-icon-button
                    (click)="
                      openCalculator($event, 'assignedAmount', i);
                      $event.preventDefault();
                      $event.stopPropagation()
                    "
                    aria-label="Open calculator"
                    type="button"
                  >
                    <mat-icon>calculate</mat-icon>
                  </button>
                </mat-form-field>
              }
              <div class="mock-input">
                <span class="mock-label">Allocated Amount</span>
                <span class="mock-value-right">
                  {{ splitForm.get('allocatedAmount').value | currency }}
                </span>
              </div>
            </div>
          </div>
          @if (i < splitsFormArray.length - 1) {
            <hr />
          }
        }
      </div>
    </form>
    <div class="flex-wrap fw-start row-gap mt-3">
      <button
        mat-raised-button
        class="btn-secondary"
        type="submit"
        defaultButton
        [disabled]="
          !addMemorizedForm.valid ||
          addMemorizedForm.disabled ||
          !memorizedFullyAllocated()
        "
        (click)="onSubmit()"
      >
        Save
      </button>
      <button
        mat-stroked-button
        type="button"
        [disabled]="addMemorizedForm.disabled"
        (click)="onCancel()"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
