.dialog-header {
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
  padding-top: 12px;
  padding-right: 12px;
}

.header-text {
  display: grid;
  justify-items: start;
  align-items: center;
  margin-left: 24px;
}

.header-close {
  display: grid;
  justify-items: end;
  align-items: center;
  cursor: pointer;
}

.dialog-content {
  padding-top: 0;
}

p {
  line-height: 1.3em;
  font-size: 1.2em;
}
