h2 {
  margin-bottom: 0.5em;
}

.reset-form {
  width: 25em;

  mat-form-field {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .reset-form {
    width: 100%;
  }
}

.reset-button {
  font-size: 1rem !important;
}

.buttons {
  width: 100%;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;

  button {
    justify-self: start;
  }

  a {
    justify-self: end;
  }
}
