<div class="page-header">
  <div></div>
  <h3>Edit Memorized Expense</h3>
  <div class="help-icon">
    <mat-icon matTooltip="Help" (click)="showHelp()">help</mat-icon>
  </div>
</div>
<mat-dialog-content>
  @let memberList = memorizedMembers();
  <div class="container mb-2">
    <form [formGroup]="editMemorizedForm" id="expense-form">
      <div class="details-1">
        <mat-form-field id="paid-by-select">
          <mat-label>Paid by</mat-label>
          <mat-select formControlName="paidByMemberId" name="group">
            @for (member of memberList; track member.id) {
              <mat-option [value]="member.id">{{
                member.displayName
              }}</mat-option>
            }
          </mat-select>
          @if (e.paidByMemberId.errors?.['required']) {
            <mat-error> *Required </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="details-2">
        <mat-form-field appearance="fill" id="description">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" />
          @if (e.description.errors?.['required']) {
            <mat-error> *Required </mat-error>
          }
        </mat-form-field>
        <mat-form-field
          id="category-select"
          [class.hidden]="categories().length === 1"
        >
          <mat-label>Category</mat-label>
          <mat-select formControlName="categoryId" name="category">
            @for (category of categories(); track category.id) {
              <mat-option [value]="category.id">{{ category.name }}</mat-option>
            }
          </mat-select>
          @if (e.categoryId.errors?.['required']) {
            <mat-error> *Required </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="details-3">
        <mat-form-field
          appearance="fill"
          floatLabel="always"
          class="number-field"
        >
          <mat-label>Total Amount</mat-label>
          <input
            matInput
            #inputElement
            #totalAmount
            formControlName="amount"
            class="number-right"
            appFormatCurrencyInput
            (blur)="allocateSharedAmounts()"
          />
          <span matTextPrefix>$</span>
          @if (e.amount.errors?.['required']) {
            <mat-error> *Required </mat-error>
          }
          @if (e.amount.errors?.['zeroAmount']) {
            <mat-error> Cannot be zero </mat-error>
          }
        </mat-form-field>
        <mat-form-field
          appearance="fill"
          floatLabel="always"
          class="number-field"
        >
          <mat-label>Proportional Amount</mat-label>
          <input
            matInput
            #inputElement
            #propAmount
            formControlName="allocatedAmount"
            class="number-right"
            appFormatCurrencyInput
            (blur)="allocateSharedAmounts()"
          />
          <span matTextPrefix>$</span>
          <mat-hint>Tax, tip, etc.</mat-hint>
        </mat-form-field>
        <div class="mock-input">
          <span class="mock-label">Evenly Shared Remainder</span>
          <span class="mock-value">
            {{ e.sharedAmount.value | currency }}
          </span>
        </div>
      </div>
      <div class="buttons">
        <button
          mat-raised-button
          class="btn-primary"
          type="button"
          (click)="addSplit()"
        >
          Add New Split
        </button>
      </div>
      <div formArrayName="splits" class="mt-3">
        @for (
          splitForm of splitsFormArray.controls;
          track splitForm;
          let i = $index
        ) {
          <div [formGroupName]="i" class="splits">
            <div class="splits-1">
              <mat-form-field id="split-member" subscriptSizing="dynamic">
                <mat-label>Member</mat-label>
                <mat-select
                  formControlName="owedByMemberId"
                  (selectionChange)="allocateSharedAmounts()"
                >
                  @for (member of splitMembers(); track member.id) {
                    <mat-option [value]="member.id">{{
                      member.displayName
                    }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <button
                mat-icon-button
                class="btn-danger"
                (click)="removeSplit(i)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <div class="splits-2">
              <mat-form-field
                appearance="fill"
                class="number-field"
                subscriptSizing="dynamic"
              >
                <mat-label>Member Amount</mat-label>
                <input
                  matInput
                  #inputElement
                  #memberAmount
                  class="number-right"
                  parentControlName="splits"
                  [index]="i"
                  formControlName="assignedAmount"
                  appFormatCurrencyInput
                  (blur)="allocateSharedAmounts()"
                />
                <span matTextPrefix>$</span>
              </mat-form-field>
              <div class="mock-input">
                <span class="mock-label">Allocated Amount</span>
                <span class="mock-value">
                  {{ splitForm.get('allocatedAmount')?.value | currency }}
                </span>
              </div>
            </div>
          </div>
          <hr />
        }
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="me-3">
  <button
    mat-raised-button
    class="btn-secondary"
    type="submit"
    defaultButton
    [disabled]="
      !editMemorizedForm.valid ||
      editMemorizedForm.pristine ||
      editMemorizedForm.disabled
    "
    (click)="onSubmit()"
  >
    Save
  </button>
  <button
    mat-raised-button
    type="button"
    class="btn-danger"
    [disabled]="editMemorizedForm.disabled"
    (click)="delete()"
  >
    Delete
  </button>
  <button
    mat-stroked-button
    type="button"
    [disabled]="editMemorizedForm.disabled"
    [mat-dialog-close]="false"
  >
    Cancel
  </button>
</mat-dialog-actions>
