#search-field {
  min-width: 230px;
}

@media screen and (max-width: 1009px) {
  .expandable-table td,
  th {
    padding: 0 6px !important;
  }
}

@media (min-width: 360px) and (max-width: 473px) {
  .scrollable-table {
    max-height: 700px;
  }
  @media (min-height: 1100px) and (max-height: 1199px) {
    .scrollable-table {
      max-height: 600px;
    }
  }

  @media (min-height: 1000px) and (max-height: 1099px) {
    .scrollable-table {
      max-height: 500px;
    }
  }

  @media (min-height: 900px) and (max-height: 999px) {
    .scrollable-table {
      max-height: 400px;
    }
  }

  @media (max-height: 899px) {
    .scrollable-table {
      max-height: 300px;
    }
  }
}

@media (max-width: 359px) {
  .scrollable-table {
    max-height: 600px;
  }
  @media (min-height: 1100px) and (max-height: 1199px) {
    .scrollable-table {
      max-height: 500px;
    }
  }

  @media (min-height: 1000px) and (max-height: 1099px) {
    .scrollable-table {
      max-height: 400px;
    }
  }

  @media (max-height: 999px) {
    .scrollable-table {
      max-height: 300px;
    }
  }
}
