.filters-1,
.filters-2 {
  display: grid;
  gap: 8px;
  align-items: baseline;
  justify-items: center;
  grid-template-rows: auto;
  grid-template-columns: max-content max-content max-content;
}

@media screen and (max-width: 1009px) {
  .expandable-table td,
  th {
    padding: 0 6px !important;
  }
}

@media (min-width: 474px) and (max-width: 767px) {
  .filters-1 {
    grid-template-columns: max-content max-content;
  }
  .unpaid-toggle {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
  .filters-2 {
    grid-template-columns: max-content max-content;
  }
  .add-button {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
}

@media (min-width: 360px) and (max-width: 473px) {
  .filters-1 {
    grid-template-columns: 1fr;
  }
  .filters-2 {
    grid-template-columns: max-content max-content;
  }
  .add-button {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
  .scrollable-table {
    max-height: 700px;
  }
  @media (min-height: 1100px) and (max-height: 1199px) {
    .scrollable-table {
      max-height: 600px;
    }
  }

  @media (min-height: 1000px) and (max-height: 1099px) {
    .scrollable-table {
      max-height: 500px;
    }
  }

  @media (min-height: 900px) and (max-height: 999px) {
    .scrollable-table {
      max-height: 400px;
    }
  }

  @media (max-height: 899px) {
    .scrollable-table {
      max-height: 300px;
    }
  }
}

@media (max-width: 359px) {
  .filters-1,
  .filters-2 {
    grid-template-columns: 1fr;
  }
  .scrollable-table {
    max-height: 600px;
  }
  @media (min-height: 1100px) and (max-height: 1199px) {
    .scrollable-table {
      max-height: 500px;
    }
  }

  @media (min-height: 1000px) and (max-height: 1099px) {
    .scrollable-table {
      max-height: 400px;
    }
  }

  @media (max-height: 999px) {
    .scrollable-table {
      max-height: 300px;
    }
  }
}
