<h1 mat-dialog-title>Join Group</h1>
<form [formGroup]="joinGroupForm">
    <mat-dialog-content>
        <mat-form-field appearance="fill" color="primary">
            <mat-label>Group join code</mat-label>
            <input matInput formControlName="groupId">
            <mat-error *ngIf="f.groupId.errors?.['required']">
                *Required
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" color="primary">
            <mat-label>Your name in the group</mat-label>
            <input matInput formControlName="displayName">
            <mat-error *ngIf="f.displayName.errors?.['required']">
                *Required
            </mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button type="button" class="btn btn-secondary me-2" (click)="close()">Cancel</button>
        <button type="submit" defaultButton class="btn btn-primary" [disabled]="!joinGroupForm.valid"
            (click)="onSubmit()">
            Save
        </button>
    </mat-dialog-actions>
</form>