<h1 mat-dialog-title>Edit Member</h1>
<form [formGroup]="editMemberForm">
  <mat-dialog-content>
    <div class="content">
      <mat-form-field appearance="fill">
        <mat-label>Member name</mat-label>
        <input matInput formControlName="memberName" />
        @if (f.memberName.errors?.['required']) {
          <mat-error> *Required </mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput email formControlName="email" />
        @if (f.email.errors?.['required']) {
          <mat-error> *Required </mat-error>
        }
        @if (f.email.errors?.['email']) {
          <mat-error> *Not a valid email address </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="toggle" [class.hidden]="!currentMember().groupAdmin">
      <mat-slide-toggle formControlName="active">Active</mat-slide-toggle>
      <mat-slide-toggle
        formControlName="groupAdmin"
        [matTooltip]="groupAdminTooltip"
      >
        Group Admin
      </mat-slide-toggle>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-raised-button
      class="btn-secondary"
      type="submit"
      defaultButton
      [disabled]="
        !editMemberForm.valid ||
        editMemberForm.pristine ||
        editMemberForm.disabled
      "
      (click)="onSubmit()"
    >
      Save
    </button>
    <button
      mat-raised-button
      type="button"
      class="btn-danger"
      (click)="removeMember()"
      [disabled]="editMemberForm.disabled"
    >
      Remove
    </button>

    <button
      mat-stroked-button
      type="button"
      [mat-dialog-close]="{ success: false }"
      [disabled]="editMemberForm.disabled"
    >
      Cancel
    </button>
  </mat-dialog-actions>
</form>
