<div class="container pt-3">
  <div class="page-header">
    <div></div>
    <h3>{{ currentGroup()?.name }}</h3>
    <div class="help-icon">
      <mat-icon matTooltip="Help" (click)="showHelp()">help</mat-icon>
    </div>
  </div>
  <div>
    <mat-form-field id="group-select">
      <mat-label>Select Member</mat-label>
      <mat-select name="member" [(ngModel)]="selectedMemberId">
        @for (member of activeMembers(); track member.id) {
          <mat-option [value]="member.id">{{ member.displayName }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="filters mb-2">
    <mat-form-field appearance="fill" class="datepicker">
      <mat-label>Start date</mat-label>
      <input
        matInput
        [(ngModel)]="startDate"
        [matDatepicker]="startDatepicker"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="startDatepicker"
      ></mat-datepicker-toggle>
      @if (!!startDate()) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="startDate.set(null)"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
      <mat-datepicker #startDatepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" class="datepicker">
      <mat-label>End date</mat-label>
      <input matInput [(ngModel)]="endDate" [matDatepicker]="endDatePicker" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="endDatePicker"
      ></mat-datepicker-toggle>
      @if (!!endDate()) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="endDate.set(null)"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
  </div>
</div>
<div class="table-container">
  <div class="scrollable-table mat-elevation-z8">
    <table mat-table [dataSource]="summaryData()">
      <ng-container matColumnDef="owedTo">
        <th mat-header-cell *matHeaderCellDef>Owed To</th>
        <td mat-cell *matCellDef="let amountDue">
          {{ getMemberName(amountDue.owedToMemberId) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="owedBy">
        <th mat-header-cell *matHeaderCellDef>Owed By</th>
        <td mat-cell *matCellDef="let amountDue">
          {{ getMemberName(amountDue.owedByMemberId) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef class="cell-right">Amount</th>
        <td mat-cell *matCellDef="let amountDue" class="cell-right">
          {{ amountDue.amount | currency }}
        </td>
      </ng-container>
      <ng-container matColumnDef="markPaid">
        <th mat-header-cell *matHeaderCellDef>Mark Paid</th>
        <td mat-cell *matCellDef="let amountDue" class="cell-center">
          <button
            mat-mini-fab
            class="btn btn-success"
            (click)="
              markExpensesPaid(
                amountDue.owedToMemberId,
                amountDue.owedByMemberId
              )
            "
            title="
                Mark expenses owed between {{
              getMemberName(amountDue.owedToMemberId)
            }} and {{ getMemberName(amountDue.owedByMemberId) }} as paid.
              "
          >
            <mat-icon>paid</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr
        mat-header-row
        *matHeaderRowDef="summaryColumnsToDisplay; sticky: true"
      ></tr>
      <tr
        mat-row
        *matRowDef="let amountDue; columns: summaryColumnsToDisplay"
        class="clickable-row"
        (click)="
          onRowSelect(amountDue.owedToMemberId, amountDue.owedByMemberId)
        "
      ></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [colSpan]="summaryColumnsToDisplay.length">
          No outstanding expenses found for selected member.
        </td>
      </tr>
    </table>
  </div>
</div>
@if (summaryData().length > 0) {
  <div class="table-container">
    <div class="scrollable-table mat-elevation-z8">
      <table mat-table [dataSource]="detailData()">
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let amountDue">
            {{ getCategoryName(amountDue.categoryId) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef class="cell-right">Amount</th>
          <td mat-cell *matCellDef="let amountDue" class="cell-right">
            {{ amountDue.amount | currency }}
          </td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="detailColumnsToDisplay; sticky: true"
        ></tr>
        <tr
          mat-row
          *matRowDef="let amountDue; columns: detailColumnsToDisplay"
        ></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [colSpan]="detailColumnsToDisplay.length">
            Click a row above to view details.
          </td>
        </tr>
      </table>
    </div>
  </div>
}
