<h1 mat-dialog-title data-testid="dialog-title">{{ data.dialogTitle }}</h1>
<mat-dialog-content data-testid="dialog-content">
  <p data-testid="confirmation-text">{{ data.confirmationText }}</p>
</mat-dialog-content>
<mat-dialog-actions data-testid="dialog-actions">
  <button
    mat-raised-button
    class="btn-secondary"
    type="button"
    [mat-dialog-close]="true"
    data-testid="confirm-button"
    [aria-label]="data.confirmButtonText"
  >
    {{ data.confirmButtonText }}
  </button>
  <button mat-stroked-button type="button" [mat-dialog-close]="false" data-testid="cancel-button" [aria-label]="data.cancelButtonText">
    {{ data.cancelButtonText }}
  </button>
</mat-dialog-actions>
