<div class="footer" [class.no-emulation]="!production() && !emulators()">
  <div class="footer-left">
    <span>
      &copy; {{ currentYear() }} -
      <a
        href="mailto:michael.a.pipkin@gmail.com"
        matTooltip="Email the developer"
        >Michael A. Pipkin</a
      >
    </span>
  </div>
  <div class="footer-right">
    @if (!production()) {
      @if (emulators()) {
        <span>*** DEV :: USING EMULATED DATA ***</span>
      } @else {
        <span>*** DEV :: USING PRODUCTION DATA ***</span>
      }
    }
    <span>
      Version {{ version() }}&nbsp;|&nbsp;Build Date:
      {{ buildDate() | date: 'yyyy-MM-dd' }}
    </span>
  </div>
</div>
