div {
  position: fixed;
  width: 100%;
  background-color: #446e9b;
  bottom: 0px;
  left: 0px;
  color: white;
  margin: 0;
  a {
    color: white;
    text-decoration: none;
  }
  p {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
