.footer {
  position: fixed;
  width: 100%;
  background-color: #446e9b;
  bottom: 0px;
  left: 0px;
  z-index: 20;
  color: white;
  margin: 0;
  padding: 4px;
  display: grid;
  grid-template-columns: max-content auto;
  a {
    color: white;
    text-decoration: none;
  }
}

.footer-left {
  display: grid;
  justify-items: start;
  align-items: center;
}

.footer-right {
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
  align-items: center;
}

.no-emulation {
  background-color: #f60;
}
