.payment-summary {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}

.payment-summary-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  span {
    font-size: 1.2em;
  }
}
