<div class="d-flex flex-column">
    <div class="d-flex p-2 justify-content-center align-items-center">
        <mat-form-field class="me-2">
            <mat-label>Search by name</mat-label>
            <input matInput [(ngModel)]="nameFilter" (keyup)="filterCategories()">
            <button *ngIf="nameFilter" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-slide-toggle color="primary" [(ngModel)]="activeOnly" (change)="filterCategories()">Active
            only</mat-slide-toggle>
        <button class="btn btn-primary ms-4" [class.hidden]="!isGroupAdmin" (click)="addCategory()">Add
            Category</button>
    </div>
    <div class="d-flex p-3 justify-content-center mat-elevation-z8">
        <div class="scrollable-table">
            <table mat-table matSort [dataSource]="filteredCategories$ | async"
                (matSortChange)="sortCategories($event)">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>Id</th>
                    <td mat-cell *matCellDef="let category">{{category.id}}</td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
                    <td mat-cell *matCellDef="let category">{{category.name}}</td>
                </ng-container>
                <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let category">{{category.active | activeInactive}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay" (click)="onRowClick(myRowData)"
                    [class.clickable-row]="isGroupAdmin">
                </tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" [colSpan]="columnsToDisplay.length">No categories found matching
                        "{{nameFilter}}".
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>